<div class="container_page">
  <div class="page_box" id="header">
    <div class="search-input"><input (keyup)="applyFilter($event)" #input type="text" placeholder="חפש במנות שלי"/></div>   
       <div>המנות שלי({{length}})</div> 
  </div>

  <div class="icons">
    <button id="add" (click)="AddMeal()" mat-button>
      <mat-icon>add</mat-icon> הוסף מנה חדשה
    </button>
       
 <div class="page_content" *ngIf="length!=0">
  
   <table mat-table
       [dataSource]="dataSource" multiTemplateDataRows
       class="mat-elevation-z8">
 
  <ng-container  matColumnDef="y" >
    <th mat-header-cell *matHeaderCellDef>
      <mat-icon *ngIf="!choose" matTooltip="בחר" matTooltipPosition="below"(click)="choose=!choose">check_box_outline_blank</mat-icon>
      <div *ngIf="choose" class="select"><mat-icon  (click)="choose=!choose">check_box_outline_blank</mat-icon>
      <mat-icon [matMenuTriggerFor]="menu">arrow_drop_down</mat-icon>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>הוסף לתפריט קיים</button>
        <button mat-menu-item>הוסף לתפריט חדש</button>
        <button mat-menu-item (click)="DeletItems()"> מחק</button>
        <button mat-menu-item (click)="share()"> שתף</button>
      </mat-menu></div>
          </th>
    <td mat-cell *matCellDef="let element" class="check_box"  > <mat-checkbox *ngIf="choose"(click)="check(element)" color="warn"></mat-checkbox> </td>
  </ng-container>

  
  <ng-container  matColumnDef="s" >
    <th mat-header-cell *matHeaderCellDef> </th>
    <td mat-cell *matCellDef="let element" class="check_box" ><mat-icon *ngIf="element.publish" class="publish" matTooltip="הסר שיתוף" (click)="removeShare(element)">star</mat-icon></td>
  </ng-container>
    
  <ng-container  matColumnDef="Category" >
    <th mat-header-cell *matHeaderCellDef> קטגוריה</th>
    <td mat-cell *matCellDef="let element" >{{Category(element)}} </ng-container>
    
  <ng-container  matColumnDef="Level" >
    <th mat-header-cell *matHeaderCellDef> דרגת קושי </th>
    <td mat-cell *matCellDef="let element"   >{{Level(element)}} </td>
  </ng-container>

  <ng-container matColumnDef="MealName">
    <th mat-header-cell *matHeaderCellDef > שם מנה </th>
    <td mat-cell *matCellDef="let element"  > {{element.mealName}} </td>
  </ng-container>

  <ng-container matColumnDef="NumberOfDiners">
    <th mat-header-cell *matHeaderCellDef> כמות סועדים </th>
    <td mat-cell *matCellDef="let element"> {{element.numberOfDiners}} </td>
  </ng-container> 

  <ng-container matColumnDef="countIngredients">
    <th mat-header-cell *matHeaderCellDef> מספר מרכיבים</th>
    <td mat-cell *matCellDef="let element">{{element.products.length}}  </td>
  </ng-container> 

  <ng-container matColumnDef="DateCreated">
    <th mat-header-cell *matHeaderCellDef> נוצר בתאריך</th>
    <td mat-cell *matCellDef="let element"> {{DateCreated(element)}}  </td>
  </ng-container>

  <ng-container matColumnDef="DateUpdated">
    <th mat-header-cell *matHeaderCellDef> עודכן בתאריך</th>
    <td mat-cell *matCellDef="let element"> {{DateUpdated(element)}} </td>
  </ng-container>
  
  <ng-container matColumnDef="NumberOfViews">
    <th mat-header-cell *matHeaderCellDef>  מספר צפיות</th>
    <td mat-cell *matCellDef="let element"  > <span *ngIf="element.publish"> {{element.numberOfViews}} </span></td>
  </ng-container>

  <ng-container matColumnDef="x">
  <th mat-header-cell *matHeaderCellDef> </th>
  <td mat-cell *matCellDef="let element" class="i"> 
    <mat-icon mat-button [matMenuTriggerFor]="menu">more_vert</mat-icon>
<mat-menu #menu="matMenu">
  <button mat-menu-item>
    <mat-icon matTooltip="הורד" (click)="download(element)"> file_download</mat-icon>
    <mat-icon matTooltip="עדכן" (click)="UpdateMeal(element)"> edit</mat-icon>
    <mat-icon matTooltip="מחק" (click)="Delet(element)" > delete</mat-icon>
    <mat-icon matTooltip="שתף" (click)="shareOne(element)" *ngIf="!element.publish"> share</mat-icon>
 </button>
</mat-menu>
  </td>
</ng-container>



  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
 
  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="4">אין תוצאות ל {{input.value}}"</td>
  </tr>
</table>

 
 </div>
  <div *ngIf="length==0" class="empty">
    <mat-icon>list_alt</mat-icon><h1>רשימת המנות שלך ריקה </h1>
</div>
</div>
</div>




