
 .container_page{
  color: white;
  padding: 0 2rem;
  background: #fff;
  box-shadow: 0 2px 4px 0 rgb(52 52 52 / 10%);
}
.page_box{
  min-height: 94px;
  color: black;
  font-size: 24px;
  margin: 0 -2rem;
  text-align: end;
  padding: 25px 29px;
  padding-top: 0px;
  font-family: system-ui;
  font-weight: bolder;    
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 68px;
  

}
.page_content{
  /* overflow: overlay;
  box-shadow: 1px 0px 1px 3px black;
  background: white;
  color: black;
  font-size: 2rem;
  max-height: 520px; */
  direction: rtl;



}/*

 /*
    .add div {
        margin-top: 40px;
        float: right;
        padding: 0 20px;
    }
    .add div span{
        display: block;
    text-align: right;
    margin-bottom: 9px;
    font-size: 19px;
    font-weight: 700;
    }
    .add div input{
        border-radius: 7px;
        outline: none;
        width: 276px;
        height: 39px;
        border: 2px #0000009c solid;
        color: #043eff;
        font-size: 18px;
        text-align: end;
        font-weight: bolder;
    }    
    .add button{
        width: 42%;
        margin: 113px 7px 0px 0px;
        box-shadow: 0px 2px 8px 1px #0000006e;
        }
       .body{
        text-align: center;
        width: 100%;
        height: 600px;
        display: inline-block;
        
    }

   
    button{
        width: 86px;
    }
   
     .search-input{
    padding: 20px;
    display: contents;

    }
   */
     .search-input input{
      height: 45px;
      border: 1px solid #e3e3e3;
      border-radius: 14px;
      outline: none;
      font-size: 15px;
      line-height: 25px;
      padding: 10px 10px 10px 50px;
      background-repeat: no-repeat;
      background-position: 12px 10px;
      background-size: 24px 24px;
      background-image: url(../../assets/search.png);
      padding-top: 10px;
      text-align: end;
      margin: 0 83px;
      margin-top: 23px;
    
    }
    
 /*
    mat-toolbar button{
        background-color: whitesmoke;
    }
  
    .list .cards-show mat-card{
        width: 200px;
        margin: 9px;
        border: 2px solid;
        height: 246px;
        }
    .list .cards-show{
     display: inline-block;
    }
    


   
    
    .mat-menu-item{
        background: white;
        box-shadow: 0px 0px 2px #b0b0b0;
        width: 100%;
    } 


  
  .mat-menu-item:hover{
      background-color:#d2d2d2;
  }
  .item-icons mat-icon{
    color: rgb(0 0 0 / 42%);
    cursor: pointer;
    font-size: 23px;
    width: 35px; 
 } 





 */


 /* ################################## */



.showDetails .header img{
    display: block;
    width: 164px;
    box-shadow: 0px 0px 12px -2px;
}
 .details{
    width: 50%;
    float: right;
    padding: 20px;
    margin: 35px 0;

} 
#Ingredients{
    border-left: 1px solid #e3e3e3;

 }
 .details .title{
position: relative;
font-size: 15px;
font-weight: 500;
padding: 0;
text-align: end;
 }
 
 .details .title span{
     position: relative;
     padding-left: 12px;
     z-index: 10;
     white-space: nowrap;
     background-color: white;
 }
 .details .title ::after{
     content: "";
     display: block;
     position: absolute;
     width: 100%;
     top: 50%;
     border-bottom: 1px solid #e3e3e3;
}
.details .items ul{
    list-style: none;
}
.details .items ul li{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}
.details .items ul li span{
    font-weight: 600;
    padding: 0 15px;
    font-family: system-ui; 
}


table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}
table td{
  cursor: pointer;
  /* border: 2px solid; */
  text-align: center;
  padding: 0;
}
table td.i mat-icon{
  color: #b0b0b0;
  text-align: center;
  margin: 5px;
  cursor: pointer;
}
table td.i mat-icon:hover{
 color: black;
}
/* 
.mat-row .mat-cell {
  border-top: 1px solid transparent;
  cursor: pointer;
  height: 70px;

} */

.mat-row:hover .mat-cell {
  border-color: currentColor;
}
.mat-row:hover button {
 display: block;
}
.mat-header-cell{
  background-color: black;
  text-align: center;
  font-size: 17px;
  font-family: system-ui;
  color: #d59b28;
  border-bottom: 3px solid;
  position: sticky;
  top: 63px;
  padding: 0 27px;
  width: 0px;
  z-index: 1;
  border-top: 3px solid;

}

.icons{
  position: absolute;
    top: 180px;
    width: 100%;
    right: 0%;
    padding: 20px 33px;
    text-align: end;
 
}
.icons mat-icon{
  /* color: white; */
  cursor: pointer;
}
.check_box{
width: 50px;
}
#add{
  /* position: fixed; */
  /* left: 31px;
  top: 174px; */
  width: 164px;
  /* height: 50px; */
  background: white;
  /* box-shadow: 0 0 10px #b0b0b0; */
  color: black;
  cursor: pointer;
  outline: none;
  margin: 3px 0;
  /* transition: all ease 0.3s; */
  /* border-radius: 50%; */
  border: 2px solid black;

}

div.empty{
  text-align: center;
  margin-top: 157px;
  width: 100%;
  color: darkgray;
}
div.empty mat-icon{
  color: rgb(0 0 0 / 42%);
  font-size: 142px;
  width: 138px;
  height: 138px;
}
div.empty h1{
  font-family: system-ui;
  font-weight: 500;
}

.publish{
  color: gold;
  text-shadow: 1px 1px 1px black;
}
table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
  justify-content: space-around;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}
