 .container_page{
  color: white;
  padding: 0 2rem;
  background: #fff;
  box-shadow: 0 2px 4px 0 rgb(52 52 52 / 10%);
}
.page_box{
  min-height: 94px;
  color: black;
  font-size: 24px;
  margin: 0 -2rem;
  text-align: end;
  padding: 25px 29px;
  padding-top: 0px;
  font-family: system-ui;
  font-weight: bolder;    
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 68px;
  

}
.page_content{
  direction: rtl;
}
 .search-input input{
      height: 45px;
      border: 1px solid #e3e3e3;
      border-radius: 14px;
      outline: none;
      font-size: 15px;
      line-height: 25px;
      padding: 10px 10px 10px 50px;
      background-repeat: no-repeat;
      background-position: 12px 10px;
      background-size: 24px 24px;
      background-image: url(../../assets/search.png);
      padding-top: 10px;
      text-align: end;
      margin: 0 83px;
      margin-top: 23px;
    
}
.info{
  position: absolute;
    top: 180px;
    width: 100%;
    right: 0%;
    padding: 20px 33px;
    text-align: end;
 
}
.info mat-icon{
  cursor: pointer;
}
#add{
  width: 164px;
  background: white;
  color: black;
  cursor: pointer;
  outline: none;
  margin: 3px 0;
  border: 2px solid black;
}
div.empty{
  text-align: center;
  margin-top: 157px;
  width: 100%;
  color: darkgray;
}
div.empty mat-icon{
  color: rgb(0 0 0 / 42%);
  font-size: 142px;
  width: 138px;
  height: 138px;
}
div.empty h1{
  font-family: system-ui;
  font-weight: 500;
}
.loader {
  animation:spin 1s infinite linear;
  border:solid 1vmin transparent;
  border-radius:50%;
  border-right-color:rgb(249 171 0 / 69%);
  border-top-color:rgb(249 171 0 / 69%);
  box-sizing:border-box;
  height:8vmin;
  left:50%;
  position:fixed;
  top:calc(50% - 10vmin);
  width:8vmin;
  z-index:1;
}
  .loader:before {
    animation:spin 2s infinite linear;
    border:solid 1vmin transparent;
    border-radius:50%;
    border-right-color:rgb(249 171 0 / 28%);
    border-top-color:rgb(249 171 0 / 28%);
    box-sizing:border-box;
    content:"";
    height:6vmin;
    left:0;
    position:absolute;
    top:0;
    width:6vmin;
  }
 @keyframes spin {
  100% {
    transform:rotate(360deg);
  }
} 
.recipe-card {
  background: #FFF;
  box-shadow: 0 10px 20px rgb(0 0 0 / 19%), 0 6px 6px rgb(0 0 0 / 23%);
  width: 260px;
  margin: 15px;
  direction: ltr;
  float: right;
  height: 405px;
}
.recipe-card .header {
  background-size: cover;
  height: 200px;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.recipe-card .header .edit {
  height: 50px;
  width: 50px;
  position: absolute;
  bottom: 13%;
  left: 10%;
  border-radius: 50%;
  background: #e7272b;
  border: 0;
  color: #FFF;
  font-size: 1.5rem;
  transition: all 0.5s ease-in;
  cursor: pointer;
  z-index: 2;
  border: 3px solid;

}
.recipe-card .header .edit:hover {
  background:#fc6668;
}
.recipe-card .header .delete , .share,.download {
  height: 50px;
  width: 50px;
  position: absolute;
  top: 0%;
  right: 0%;
  border-radius: 0%;
  background: transparent;
  border: 0;
  color: #fff;
  font-size: 1.5rem;
  transition: all 0.5s ease-in;
  cursor: pointer;
  z-index: 2;
  text-shadow: 3px 1px 0px black;
}
.publish{
  color: gold;
  text-shadow: 1px 1px 1px black;
}
.recipe-card .header .share {
  right: 12%
 }
 /* .recipe-card .header mat-icon:hover {
  color: red;
 } */
 .recipe-card .header .download {
  right: 24%
 }
.recipe-card .header:after {
  height: 100%;
  width: 130%;
  background: #FFF;
  content: "";
  position: absolute;
  top: 85%;
  left: -15%;
  transform: rotate(10deg);
  box-shadow: 0 -9px 0 white;
  border: 3px solid #e7272b;
}
.recipe-card .body {
  padding: 15px 15px 25px 15px;
}
.recipe-card .body .title {
  background: transparent;
  border-bottom: 1px solid ;
  color: #e7272b;
  display: block;
  margin: 0;
  margin-bottom: 5px;
  font-family: "Raleway", sans-serif;
  font-size: 17px;
  font-weight: 300;
  padding: 0 0 5px 0;
  text-decoration: none;  
  font-family: system-ui;

}
.recipe-card .body ul.details {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: system-ui;
}
.recipe-card .body ul.details li {
  color: #7f8c8d;
  font-size: 1rem;
  padding: 1px 0;
}
.recipe-card .body ul.details li b {
 
color: rgb(0 0 0 / 63%);
padding-left: 8px;}

app-print-meal {
  display: none;
}
@media print {
 
  app-print-meal {
    display: block;
  }

   #b {
    display: none;
  } 
}

