<!-- <app-my-home ></app-my-home> -->

<!-- <mat-toolbar>
    <h2> המנות שלי</h2>
    <button mat-raised-button (click)="openDialog()"> מנה חדשה  </button>
   </mat-toolbar>  
<div *ngIf="u!=null">
   -->

 
<!-- <div class="body"> -->
<!-- <div class="list-items">
  <ul *ngFor="let item of listMenus"> 
          <li><div class="container" >
            <img src="img_avatar.png" alt="Avatar"  style="width:100%">
            <div class="image" >
              <div class="type">
              </div>
              
            
            <div class="text">
             <span><a routerLink="/MyHome/ShowMealDetails">מתכון</a> </span>
             <h2> שם מתכון</h2>
              <strong> תיאור</strong>
              <div> *******| חלבי|זמן הכנה|קל|כשר  </div>
              <div>    
              בתאריך 20/20/2020 
              <a>ss</a> הועלה עי</div>
            </div>
          </div>
            <div class="middle">
            <mat-icon>favorite</mat-icon>
          <mat-icon>add_circle</mat-icon>
          <mat-icon>download</mat-icon>
            </div>
          </div></li>
  </ul>
</div> -->
<!-- </div> -->

<!-- </div> -->



<div class="body">
<div class="container" *ngIf="u!=null ">
  <mat-toolbar>
      <h2>המנות שלי</h2>
      <button mat-raised-button (click)="openDialog()">  מנה חדשה  </button>
     </mat-toolbar>  
  <div *ngIf="u!=null && listMeals!=null">
  
  </div>
  
  <div *ngIf="listMeals==null && u!=null" class="empty">
    <mat-icon>list_alt</mat-icon>
<h1>     רשימת המנות שלך ריקה   </h1>
    <!-- <h3> לא ניתן לצפות בהסטוריית הצפייה לאחר שיצאת מהחשבון </h3> -->
<!-- <button mat-raised-button routerLink="/SignIn">כניסה<mat-icon class="user">account_circle</mat-icon></button> -->

<!-- <button  >כניסה
         </button> -->
</div>




</div>

<div *ngIf="u==null" class="user">
    <mat-icon>ballot</mat-icon>
<h1>כאן אפשר לצפות ברשימת המנות שיצרת   </h1>
    <!-- <h3> לא ניתן לצפות בהסטוריית הצפייה לאחר שיצאת מהחשבון </h3> -->
<button mat-raised-button routerLink="/SignIn">כניסה<mat-icon class="user">account_circle</mat-icon></button>

<!-- <button  >כניסה
         </button> -->
</div>
</div>