<div class="container_page">
  <div class="page_box" id="header">
    <div class="search-input"><input (keyup)="search()"  type="text" [(ngModel)]="text" placeholder="חפש במנות שלי"/></div>   
       <div>המנות שלי({{ELEMENT_DATA.length}})</div> 
  </div>
  <div class="info">
    <button id="add" (click)="AddMeal()" mat-button>
      <mat-icon>add</mat-icon> הוסף מנה חדשה
    </button>
 <div class="page_content" *ngIf="ELEMENT_DATA.length!=0">
<div class="container">
  <div class="recipe-card" *ngFor="let x of ELEMENT_DATA" >
    <div class="header" style="background: url('{{checkPic(x.pictureCode)}}');background-size: cover;background-repeat: no-repeat;background-position: center;" >
      <button class="edit" (click)="UpdateMeal(x)" title="ערוך"><mat-icon>edit</mat-icon></button>
      <button class="delete" (click)="Delet(x)" title="מחק"><mat-icon>delete</mat-icon></button>
      <button class="share" (click)="shareOne(x)" *ngIf="!x.publish" title="שתף"><mat-icon>share</mat-icon></button>
      <button class="download" (click)="download(x)"  title="הורד"><mat-icon>download</mat-icon></button>
      <button *ngIf="x.publish" class="share publish" ><mat-icon  class="" title="הסר שיתוף" (click)="removeShare(x)">star</mat-icon></button>
    </div>
    <div class="body">
      <span class="title" >{{x.mealName}}</span>
      <ul class="details">
        <li><b *ngIf="c">קטגוריה:</b>{{Category(x)}}</li>
        <li><b>דרגת קושי:</b>{{Level(x)}} </li>
        <li>{{x.numberOfDiners}}<b>:כמות סועדים</b></li>
        <li>{{x.products.length}}<b>:מספר מרכיבים</b></li>
        <li>{{DateCreated(x)}}<b>:נוצר בתאריך</b></li>
        <li *ngIf="x.dateUpdated!=null">{{DateUpdated(x)}}<b>:עודכן בתאריך</b></li>
        <li *ngIf="x.publish">{{x.numberOfViews}}<b>:מספר צפיות</b></li>
      </ul>
    </div>
  </div>
</div>
 </div>
  <div *ngIf="ELEMENT_DATA.length==0" class="empty">
    <mat-icon>list_alt</mat-icon><h1>רשימת המנות שלך ריקה </h1>
</div>
</div>
</div>
 <div class="loader" *ngIf="loader"></div> 
 <app-print-meal *ngIf="downloadMeal" #printMeal id="d" [m]="downloadMeal" [u]="UnitMeasures"></app-print-meal>




