
   .body{
    /* background-size: cover; */
    /* background-image:linear-gradient(#fafafa,#eeeeee05),url(https://lh6.googleusercontent.com/-XgKRmzgY8L0/VNTAdhjfQSI/AAAAAAAACQ8/hjehtGE7a4I/s1600/bellamazedwallpaper.jpg); */
    width: 100%;
    height: 100%;
    background-color: #F7F7F7;
    min-height: 100vh;
    /* position: relative; */
    
    /* font-family: 'Source Sans Pro', 'Lucida Grande', sans-serif; */
   }
    .signInbox{
    width: 350px;
     height: 500px;
    /* background: #2F323A; */
    color: black;
    top: 55%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
    direction: rtl; 
    box-shadow: 0 10px 20px rgb(0 0 0 / 20%);
    padding: 40px;
    background-color: #fff;
    
}

   
#avatar{
    margin-right: 88px;
    color: darkgray;
}
h1{
    /* margin: 0;
    padding: 0 0 20px; */
    /* text-align: ; */
    font-size: 22px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: rgba(0,0,0,.1);
    color: rgba(0,0,0,.7);
    font-weight: bold;
    line-height: 2;
    
}
label{
    margin-bottom: 10px;
    font-size: 16px;
    display: block;
    font-weight: bold;
}
.signInbox p{
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
    
}

.signInbox input{  
      width: 100%;
    /* border:none; */
    /* border-bottom:1px solid #fff; */
    /* background: transparent;
    outline: none; */
    height: 20px;
    /* color:bl; */
    font-size: 16px;
    height: 38px;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    resize: vertical;
    background: white;
    border-radius: .25rem;
    border-color:rgba(0,0,0,.1);

}
.signInbox input:hover{
    border-color: blue;
}
.signInbox .submit{
    border: none;
    outline: none;
    height: 40px;
    font-size: 18px;
     margin-top: 10px;
    margin-bottom: 10px;
    /* background-color: rgba(255, 255, 255, 0.726);
    background-image: linear-gradient(
-180deg
, rgba(255, 255, 255, .09) 0%, rgba(17, 17, 17, .04) 100%); */
    border: 1px solid rgba(22, 22, 22, .20);
    /* color: #444; */
    width: 100%;
} 
 .signInbox .submit:hover{ 
cursor: pointer;
background-color: white;
}
.signInbox a{
    font-size: 15px;
    color:black;
}
 /* .pass input{
 width: 80%;
} */
.pass button{
    width: 20%;
    border:none;
    background: none;
    position: absolute;
    left: 30px;
    margin-top: 8px;
} 

header{
    color: white;
    font-size: 25px;
    font-weight: 900;
    padding: 24px 49px ;
    width: 100%;
    background-color: #22242A;
    position: fixed;
    background-image: linear-gradient( 
      101deg
       , black, #4134f4,#165082f2);
          border-bottom: 4px solid black;
}
  
  a{
    text-decoration: none;
}
/**/
.title{
  top: 15%;
  left: 50%;
  position: absolute;
  transform: translate(-50%,-50%);
  box-sizing: border-box;
  font-weight: bold;
  font-size: 35px;
  text-decoration: none;
    text-shadow: 0px 2px 13px #709ff3;
    /* font-weight: bold; */
    font-family: fantasy;
} 
/* .title span{
    color:#4CCEE8;
    margin-right: 30px;
  } */