<mat-progress-bar *ngIf="pro" mode="indeterminate"></mat-progress-bar>
<!-- <button mat-stroked-button (click)="openSnackBar('כבר קיים משתמש כזה', 'סגור')">Show snack-bar</button> -->

<header>
</header>
  <div class="body">
    <div class="title"><a routerLink="/Home"> Menu
  Calculator</a>
</div>

    <div class="signInbox">
          <!-- <div id="avatar" class='fas fa-user-circle' style='font-size:100px;color:#2600ff'></div> -->
        <h1>הירשם</h1>

        <form #myForm="ngForm" (ngSubmit)="send()">
          
          <!-- שם משתמש -->    
         <div>
          <label> הכנס שם משתמש  </label>
            <input type="text"   name="userName" [(ngModel)]="myUser.UserName"  pattern="[A-Za-z]{4,20}" required #userName="ngModel">
         </div>
           <!-- <div *ngIf="userName.hasError('required') && userName.touched">
              *זהו שדה חובה
          </div> -->
          <div *ngIf="userName.hasError('pattern') ">
                <i style="color: red;" >* השדה חייב להכיל 4-20 תווים ללא רווחים</i>  
          </div>       

          <!-- אימייל --> 
          <div >
            <label>הכנס אימייל</label>
            <input name="mail" [(ngModel)]="myUser.Mail" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required #mail="ngModel">            
          </div>   
          <!-- <div *ngIf="mail.hasError('required') && mail.touched ">
            *השדה שם הוא חובה
          </div> -->
          <div *ngIf="mail.hasError('pattern') ">
            <i style="color: red;" >*אימייל לא בתבנית הנכונה</i>  
          </div>    
          
          <!-- סיסמה -->       
          <div>
            <label>הכנס סיסמה</label>
            <div class="pass">
            <input  [type]="hide ? 'password' : 'text'"  name="Password" #Password [(ngModel)]="myUser.Password"  required #password="ngModel">
            <button mat-icon-button matSuffix (click)="hide=!hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </div>
            </div>

            <div>
              <label>אמת סיסמה</label>
              <div class="pass">
              <input  [type]="hide ? 'password' : 'text'"  name="Password2" #Password2  required >
              <button mat-icon-button matSuffix (click)="hide=!hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </div>
              </div>
  

          <div *ngIf="Password.value!=Password2.value">
            <i style="color: red;" >*הסיסמאות לא תואמות</i>  
          </div>    
          
     
         <!-- <div *ngIf="password.hasError('required') && userName.touched">
          *זהו שדה חובה
      </div>
      <div *ngIf="userName.hasError('required') && userName.touched">
        *זהו שדה חובה
    </div>  -->
      <button class="submit" (click)="SignUp(Password2.value)" [disabled]="!myForm.valid" >הירשם</button>
      <p><a routerLink="/SignIn"> התחבר </a></p>    
     </form>
      </div>
    </div>

    
      
      