/* 
.dialog button{
    width: 43%;
    margin: 5px;
} */

.profile{
 margin: 20px 74px; 
 /* width: 100px; */
 /* height: 300px; */
/* border-radius: 50%; */
text-align: center; 
}
.dialog{
    overflow: hidden;
    /* width: 120px; */
    padding: 0;
 ;
}
input[type=button]{
    align-items: center;
}
.out{
    border-top: 1px solid #80808024;
    border-bottom: 1px solid #80808024;
    margin-top: 26px;
    text-align: center;
    padding: 13px;
}
.out input{
    background: none;
    border: 2px solid #80808061;
    border-radius: 7px;
    padding: 8px;
    width: 90px;
    cursor: pointer;
}