
<div class="ft-recipe"> 
  <div class="ft-recipe__thumb" > 
    <span id="add"><mat-icon *ngIf="u==null" (click)="Account()" style="color: white;" >favorite</mat-icon></span>
    <span id="add"><mat-icon *ngIf="u!=null && u.userName!=menu.userName && !add" (click)="AddMenu()" style="color: white;" >favorite</mat-icon></span>
    <span id="add"><mat-icon *ngIf="u!=null && u.userName!=menu.userName && add"  (click)="DeletMenu()" style="color: red;">favorite</mat-icon></span>
    <img src="{{url}}" (load)="GetPicture(menu.pictureCode)" alt="img"/>
  </div>
  <div class="ft-recipe__content">
    <header class="content__header">
      <div class="row-wrapper">
    <span>{{menu.menuName}}</span>    
    </div>
      <ul class="recipe-details">
        <li class="recipe-details-item time"><mat-icon>info</mat-icon><span class="value">{{level}}</span><span class="title">רמת קושי</span></li>
        <li class="recipe-details-item ingredients"><mat-icon>list_alt</mat-icon><span class="value">{{menu.meals.length}}</span><span class="title">מנות</span></li>
        <li class="recipe-details-item servings"><mat-icon>visibility</mat-icon><span class="value">{{menu.viewsNumber}}</span><span class="title">צפיות</span></li>
      </ul>
    </header>
    <footer class="content__footer"><a (click)="count()">לתפריט</a></footer>
  </div>
</div>
<dialog id="dialog" >
  <p > !!התפריט הוסר מרשימת התפריטים שלך </p>  
</dialog>
<dialog id="dialog2"> 
  <p> !!התפריט התווסף לרשימת התפריטים שלך </p>
</dialog>

