    <div class="card" >
      <div class="content">
        <div class="title">
          <span>תפריט</span>
           </div>
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSqw8YOBN2bEAhlTt0t7BZsG4OhYgan28-FZA&usqp=CAU" alt="Avatar" style="width:100%"routerLink="/Home/ShowMenuDetails">
      <div class="container">
        <h4><b>ארוחת צהריים</b></h4> 
        <div class="user_comment">
          <div> <mat-icon>person</mat-icon></div>
          <div class="d">
          <div>
            <span>שם</span> <span>18/08/200</span>
          </div>
          <div class="icons">
            <mat-icon id="down">download</mat-icon>
            <mat-icon id="save">favorite</mat-icon>
          </div></div>
        </div>
      </div>
       </div>
    </div>      
