<body>
    <div class=img>
    <div class="title">
        <h1>({{arr.length}})כל המנות</h1> 
    </div>
</div><div class="container">
      <div class="contain" >
        <div class="search-options">
            <div class="search">       
       <div class="searchBox">
        <input class="searchInput" type="text" (keyup)="search()" [(ngModel)]="text"  name="" placeholder="חפש מנה...">
    </div>
 </div>
 <div class="box">
  <select [(ngModel)]="s" (change)="sort()">
    <option  *ngFor="let x of sortBy;let i=index">{{x}}</option>
  </select>
</div>
        </div>
        <div class="selectCa"><span *ngFor="let x of serc.checkListCategories">{{x.mealCategoriesName}}</span></div>
      <div class="list">
     <ul *ngIf="!choose">
      <li *ngFor="let x of listMeals"> <app-meal [meal]="x"></app-meal></li>
    </ul>
    <ul *ngIf="choose">
      <li *ngFor="let x of meals"> <app-meal [meal]="x"></app-meal></li>
    </ul>
    <div class="notFound" *ngIf="notFound">
      <p  ><b> מצטערים,לא נמצאה התאמה למילה  שחיפשת<b class="bold">{{text}}</b>!!</b></p>
    </div>
    </div>
  </div>
    <div class="sidebar">
     <div class="category">   
         <h2 class="title-bar">קטגוריות</h2>
         <ul>
          <li *ngFor="let x of listCategories"><mat-checkbox (click)="check(x)" color="warn"></mat-checkbox> <a>{{x.mealCategoriesName}}({{GetMealsByCategory(x)}})</a></li></ul>
        </div>
    </div>
  </div>
</body>
