.container{
  display: flex;
  max-width: 1460px;
  margin: auto;
}
.title{
    height: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 2px solid #e9e9e9;padding-top: 10;
    border-bottom: 2px solid #e9e9e9;
    background: linear-gradient(
      179deg, rgb(0 0 0 / 38%), transparent);
          color: #eb4747;
}
.title h1{
  color: #f44336;
  font-size: 38px;
  text-align: center;
  margin: 0 auto;
  font-weight: 700;
  max-width: 1000px;
  margin-bottom: 20px;
  font-family: system-ui;
  text-shadow: 1px 1px 1px #fafafa;
}
.contain{
  margin: 10px;
  width: 90%;
}
.search-options{
  border-bottom: 2px solid #bdbdbd;
  padding: 20px;
  margin: 15px 40px 30px 60px ;
  display: flex;
}
.list ul{
    list-style: none;
}
.list ul li{
    display: inline-block;
    margin: 12px;
}
.box {
  padding: 0 40px;
}
.box select {
  padding: 12px;
  width: 250px;
  border: none;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  outline: none;
  direction: rtl;
}
.box select option {
  padding: 30px;
}
  .sidebar{
    direction: rtl;
    margin: 38px;
    position: sticky;
    text-align: 5%;
    top: 13%;
    height: 0;
  }
  .sidebar .search h2{
  font-size: 20px;
  color: #222;
  margin-bottom: 38px;
  }
  .sidebar .title-bar{
    font-family: system-ui;
    font-weight: 700;
    padding-bottom: 4px;
    border-bottom: 2px solid #e7272b;
    width: 50px;
  }
  .sidebar .category ul{
  padding: 0;
  }
  .sidebar .category li{
    list-style: none;
    display: flex;
    align-items: center;
    width: max-content;
  }
  .sidebar .category li mat-checkbox{
    margin-left: 10px;
    font-size: 20px;
    width: 0;
    height: 0;
    display: contents;
  }
  .sidebar .category li a{
    padding: 2px;
  }
  .sidebar .category li a:hover{
    text-decoration: underline;
    color: red;
    cursor: pointer;
  }
.searchBox {
    height: 40px;
   padding: 0px 11px;
   display: flex;
   width: 200px;
   direction: rtl;
   box-shadow: 0 5px 25px rgb(0 0 0 / 20%);
}
.searchInput {
    border:none;
    background: none;
    outline:none;
    float:left;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 150px;
}
.notFound{
  display: flex;
  direction: rtl;
}
.notFound p{
  font-size: 17px;
  text-align: end;
  font-family: system-ui;
  padding-right: 36px;
}
.notFound .bold{
  color: red;
  margin: 8px;
  font-size: 20px;
  text-decoration: underline;
}
.selectCa{
  direction: rtl;
}
.selectCa span{
   margin: 3px;
    background: white;
    border-radius: 39px;
   padding: 1px 16px;
    color: red;
    border: 1px solid;
    font-size: 14px;
    display: inline-block;
}



