      
         
       
      <div class="form">
        <div class="img" style="background: url(../../assets/3.jpg);">
           <input type="file" class="file" (change)="handlerFileInput($event)">
        </div>
        <div>
          <label>תאור המנה</label>
          <textarea id="discription" name="Discription" [(ngModel)]="data.discription"></textarea>  
        </div>
    <div >
    <label> אופן ההכנה </label>
      <textarea id="how" name="Instructions" [(ngModel)]="data.instructions" ></textarea>
    </div>
    <div class="products" >
      <label> מרכיבים </label>
        <mat-list role="list">
          <mat-list-item role="listitem" *ngFor="let x of data.products">{{x.productName}} {{x.amount}} {{x.amountName}}</mat-list-item>
        </mat-list>
    
          
      </div> 
     
             </div>     
     
