
   .search{
    border-radius: 4px;
    height: 40px;
    background-color: #fff;
    display: flex;
    align-items: center;
    padding: 20px;
    border: 1px solid #e1e1e1;
    color: #4b4b4b;
    direction: rtl;
  }
  .search i{
    font-size: 20px;
    color: black;
    margin-left: 12px;
    cursor: pointer;
  }
  .search input{
    flex: 1;
    height: 40px;
    border: none;
    outline: none;
    font-size: 18px; 
     padding-left: 10px; 
     text-align: right; 
    background: none;
  }
  .sort{
    border: 0;
    height: 38px;
    padding: 0 32px 0 11px;  }
  
  *{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
  }
 
  .wrapper .header{
    z-index: 1;
    background: #13181b;
    border-bottom: 2px solid white;
    width: 100%;
    height: 70px;
    display: flex;
    top: 0;
    position: fixed;
    z-index: 2;
  }
  .wrapper .header .header_menu{
 width: 100%;
 display: flex;
 justify-content: space-between;
 align-items: center;
  }
  .wrapper .header .header_menu .title{
    color:#fff;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 900;
    cursor: pointer;
    padding-left: 20px;
  }
  .wrapper .header .header_menu .title span{
    color:gold;
  }
  
.wrapper .header .header_menu .sidebar-btn:hover {
 color:gold ;
}
.icons{
padding: 18px 0;
 display: flex;
  justify-content: space-between;
  padding-right: 30px;
}


mat-icon{
  color: white;
  display: block;
  font-size: 45px;
  height: 42px;

}

.mat-fab mat-icon{
  color: #000;
}
button .mat-fab{
  background-color: #4CCEE8;
}


.model{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  display: none;
  background: rgba(0,0,0,0.8);
  
}
.details{
  width: 750px;
  height: 500px;
  position: fixed;
  top: calc(50% - 250px);
  left: calc(50% - 375px);
  box-shadow: 4px 4px 16px rgb(0 0 0 / 38%);
  background: #fff;
  display: flex;
}



/***********************************************************/
mat-toolbar{
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 999;
  transition: all ease 0.4s;
  justify-content: space-between;
  background: black;
}
.mat-button{
  background: gold;
  font-family: system-ui;
  font-weight: 800;
  font-size: 18px;
  box-shadow: 0px 0px 10px 0px lightgoldenrodyellow;
  margin-left: 14px;
}
.mat-button:hover{
  background: rgb(255, 230, 92);
}
.logo {
  color: gold;
}