:host{
  display: flex;
  height: 100%;
  flex-direction: column;
}
mat-drawer-container{
  height: 100%;
}
header{
   display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 11px 26px;
  align-items: center;
  background: white;
  box-shadow:0 2px 4px 0 rgb(52 52 52 / 10%);
 position: sticky;
 border-bottom: 2px solid #e7272d;
 top: 0;
 z-index: 3;
 color: black;


}
.mat-button{
  background: rgb(247 208 122);
  font-family: system-ui;
  font-weight: 800;
  font-size: 18px;
  box-shadow: 0px 0px 10px 0px lightgoldenrodyellow;
  margin-left: 14px;
}
.mat-button:hover{
  background: rgb(252 185 38);
}
.logo img{
  width: 240px;
  cursor: pointer;
}
  .menu_icon{
    padding: -7px;
    width: 46px;
    height: 45px;
    font-size: 46px;
    cursor: pointer;
    border-radius: 50%;
    

  }
  .active mat-icon ,.active li {
  color: red;
  }
  .nav{
    display: flex;
    align-items: center;
    }
 .user_options ul{
    position: absolute;
    background: white;
    list-style: none;
    right: 7px;
   top:23px;
    z-index: 2;
    display: none;
    box-shadow: 0px 0px 7px 1px lightgrey;
   padding: 8px;
   direction: rtl;   
   cursor: pointer;
   color: black;
  } 

.user_options ul li{
  padding: 3px 0;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
}
.user_options ul li a{
  text-decoration: none;
}
.user mat-icon:hover, .home mat-icon:hover{
  text-shadow: 0px 0px 2px rgb(0 0 0 / 87%);
}
.user:hover .user_options ul, .home:hover span{
display: block;
}
.user_options a:hover{
color: black;
font-weight: 600; 
}
nav{
  display: flex;
  align-items: center;
}
nav ul{
  list-style: none;
  display: flex;
  direction: rtl;
}
nav ul li{
  padding: 3px  21px;
}
nav ul li a{
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  font-family: system-ui;
  cursor: pointer;
}
nav ul li a:hover{
  color: red;
}
.search-icon{
  border-right: 2px solid; 
  padding-right: 28px; 
  color: red;
}
.favorite-icon{
  margin-left: 11px;
}
.icon{
  cursor: pointer;
}
.active{
color: red;
}
footer{
  background: black;
    color: white;
    text-align: center;
    padding: 15px;
}
nav.nav2{
  display: none;
}
@media only screen and (max-width: 1080px) {
  nav.nav1 {
    display: none;
  }
  nav.nav2 {
    display: block;
  }
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right:0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
#search-text{
  position: absolute;
  top: 63px;
  right: 35px;
  padding: 3px;
  font-size: 13px;
  border: 1px solid red;
  font-family: system-ui;
  direction: rtl;
  display: flex;
  align-items: center;
  background: white;
  opacity: 0;
  border-radius: 20px;
}
#search-text input{
  border: none;
  outline: none;
  margin: 0 10px;
}
#search-text  mat-icon{
  color: white;
  font-size: 17px;
    padding: 3px 0px;
    width: 16px;
}
#search-text button{
  background: #eb4747;
  color: white;
  cursor: pointer;
  border-radius:50% ;
  width: 30px;
  height: 30px;
  text-align: center;
  border: 1px solid black;
}
@media print{
  header{
    display: none;
}
 :host{
  height: auto;
 }
}