<!--   
    <div class="wrapper"> 
      <div class="header">
        <div class="header_menu">
          <div class="title" routerLink="/MyHome/AllLists">Menu<span>Calculator</span></div>
          <div class="search">
            <form>
                <i class="fa fa-search"  aria-hidden="true"> </i>
         <input type="search" class="s" placeholder="חפש" />                
            </form>  
    <form>
    <select class="sort" >
    <option value="volvo" *ngFor="let x of sort">{{x}}</option>
    </select>
    </form>
        </div> 
        <div class="icons">
                <button mat-button routerLink=""></button>           
                <button mat-button routerLink="/User"><mat-icon>home</mat-icon></button>           
                <button mat-button routerLink="/User"><mat-icon>help</mat-icon></button>           
          </div>
        </div>     
       </div>        
    </div>

   -->

   <mat-toolbar> 
     <div>
  <div class="logo">MenuCalculator </div>
    
    <!-- <mat-icon routerLink="/MyHome/AllLists">home</mat-icon> -->
  </div>
  <div>
    <button routerLink="//User" mat-button><mat-icon>account_circle</mat-icon></button>
    <button routerLink="/SignIn" mat-button>התחבר</button>
    <button routerLink="/SignUp" mat-button>הירשם</button>
  </div>
</mat-toolbar>