/* @import "../home/home.component.css"; */
   
   /*
  
  *{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
  }
 
  .wrapper .header{
    z-index: 1;
    background: #13181b;
    border-bottom: 2px solid white;
    width: 100%;
    height: 70px;
    display: flex;
    top: 0;
    position: fixed;
    z-index: 2;
  }
  .wrapper .header .header_menu{
 width: 100%;
 display: flex;
 justify-content: space-between;
 align-items: center;
  }
  .wrapper .header .header_menu .title{
    color:#fff;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 900;
    cursor: pointer;
    padding-left: 20px;
  }
  .wrapper .header .header_menu .title span{
    color:gold;
  }
  
.wrapper .header .header_menu .sidebar-btn:hover {
 color:gold ;
}
.icons{
padding: 18px 0;
 display: flex;
  justify-content: space-between;
  padding-right: 30px;
}


mat-icon{
  color: white;
  display: block;
  font-size: 45px;
  height: 42px;

}

.mat-fab mat-icon{
  color: #000;
}
button .mat-fab{
  background-color: #4CCEE8;
}


.model{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  display: none;
  background: rgba(0,0,0,0.8);
  
}
.details{
  width: 750px;
  height: 500px;
  position: fixed;
  top: calc(50% - 250px);
  left: calc(50% - 375px);
  box-shadow: 4px 4px 16px rgb(0 0 0 / 38%);
  background: #fff;
  display: flex;
} */



/***********************************************************/
:host{
  display: flex;
  height: 100%;
  flex-direction: column;
}
mat-drawer{
  width: 78px;
  background:white;
}
mat-drawer-container{
  height: 100%;
}
header{
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 11px 26px;
  align-items: center;
  background: #ffffff;
  border-bottom: 2px solid rgb(0 0 0 / 3%);
  box-shadow: 0 2px 4px 0 rgb(52 52 52 / 10%);


}
.mat-button{
  background: rgb(247 208 122);
  font-family: system-ui;
  font-weight: 800;
  font-size: 18px;
  box-shadow: 0px 0px 10px 0px lightgoldenrodyellow;
  margin-left: 14px;
}
.mat-button:hover{
  background: rgb(252 185 38);
}
.logo {
  /* color: white; */
  font-size: 26px;}
.user{
  color: rgb(249 171 0 / 37%);
  padding: -7px;
  width: 46px;
  height: 45px;
  font-size: 46px;
  /* padding: 4px; */
  cursor: pointer;
  border-radius: 50%;


  }
  .menu_icon{
    color: black;
    padding: -7px;
    width: 46px;
    height: 45px;
    font-size: 46px;
    /* padding: 4px; */
    cursor: pointer;
    border-radius: 50%;

  }

  .user:hover{    box-shadow: 0px 0px 17px -3px red;

  }
  #overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:rgb(0 0 0 / 75%);
    z-index: 2;
  }
  /* app-nav{
    background-color: blue;
    padding: 0;
  } */
