mat-drawer-container{
    margin: 25px 24px;
    height: 100%;
    position: fixed;
    left: -21px;
    right: 55px;
    top: 43px;

}

  
.day div{
    box-shadow: 1px 1px 9px 4px rgb(0 0 0 / 54%);
    font-weight: bolder;
    background: black;
    color: gold;
}
.calendar{
    position: relative;
    background-color: white;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
    z-index: 1;
  box-shadow:  0px 0px 10px 7px #b0b0b0;
}
.calendar_sidebar{
    width: 175px;
    margin-top: 0;
    height: 100%;
    float: left;
    font-family: serif;
    color: white;
    font-weight: bolder;
    text-shadow: 1px 1px 2px black;
    transform: translateX(0);
    background-image: linear-gradient(to right,orange,yellow);
    box-shadow: 2px 11px 12px -1px #7f7d72;
}
.calendar_sidebar mat-icon.menu{
    width: 100%;
    text-align: end;
    padding: 5px 12px;
cursor: pointer;
}
.calendar_year{
    padding: 20px;
    /* text-align: center; */
    display: flex;
    justify-content: space-evenly;
}
.calendar_year p{
     font-size: 30px;
     color: white;

}
.calendar_year button {
     width: 20px;
    height: 20px;
    overflow: visible;
    border: none;
    cursor: pointer;
    background: no-repeat;
    display: contents;
    color: white;
}
.calendar_year button mat-icon{
    height: 29px;
    /* overflow: visible; */
    /* border: none; */
    /* cursor: pointer; */
    font-size: 30px;
}
.month_list .calendar_month{
list-style: none;
margin: 0;
padding: 0;
}
.month_list .calendar_month li{
    padding: 14px 30px;
    cursor: pointer;
    font-size: 20px;
    text-align: center;
}
.month_list .calendar_month li:hover{
    background-color: rgb(109, 100, 100);
    border-radius: 10px 0  0 10px;
    margin-left: 10px;
    border-right: 5px solid black;
    
}


.today{
    top: -51px;
    right: -10px;
    background: linear-gradient(to right,#e59a11,yellow);
    border: none;
    /* cursor: pointer; */
    font-size: 23px;
    color: white;

}
.today mat-icon{
    font-size: 42px;
    font-weight: 700;
    width: 40px;
}
.calendar_inner, .calendar_event{
    padding: 50px 10px 70px 10px;
}
.calendar_inner .month{
    text-shadow: 3px 1px 9px gold;
    /* color: gold; */
    font-size: 37px;
    border-bottom: 3px solid gold;
    padding-bottom: 17px;
    font-family: system-ui;
    text-align: center;
    font-weight: 700;
    -webkit-text-stroke: thin;
}
.calendar_inner table{
border-collapse: collapse;
font-size: 20px;
width: 100%;
direction: rtl;
/* user-select: none; */
}
.calendar_header td{
    font-size: 27px;
    color: #5a5a5a;
    text-align: center;
    padding: 15px;
    cursor: context-menu;
}
.calendar_body td{
    color: #5e5e5e;
    cursor: pointer;
    padding: 22px 0px;
}
tr{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}
.calendar_body td div{
    width: 45px;
    height: 45px;
    font-size: 19px;
    border-radius: 50%;
    text-align: center;
    /* border: 2px solid goldenrod; */
    position: relative;
    padding: 10px;
    margin: 0 auto;
}
.calendar_body td div:hover{
 background: rgb(224, 224, 216);
 transition: ease all 0.1s;
 color: black;
}
.calendar_events{
    /* background-color: #e3e3e3; */
    width: 300px;
    padding: 70px 10px 60px 10px;
/* position: absolute; */
/* top: 0;
right: 0; */
height: 100%;
overflow: auto;
/* z-index: 0; */
background: #eee;
/* border-left: 3px solid rgb(0 0 0 / 14%); */
box-shadow: 5px 0 5px -5px #333;

}
.calendar_events .event_container{
    display: flex;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 21px;
    width: 100%;
    direction: rtl;
    /* border: 2px solid; */
    /* transition: all 0.3s ease; */
    cursor: pointer;
}
.calendar_events .event_container:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.calendar_events .event_container mat-icon{
    padding: 15px;
    width: 50px;
    height: 50px;
    color: coral;
}
.calendar_events .no_event{
    background: #fff8cd;
    border: 2px solid brown;
    padding: 7px;
    text-align: center;
    font-family: 'Material Icons';
    font-size: 17px;
    box-shadow: 4px -1px 8px 1px #808080fc;
    font-weight: bolder;
    margin-top: 57px;
}
.calendar_events .add_event{
    padding: 7px;
    text-align: center;
    margin-top: 20px;
}


.event_info{
    align-self: center;
    display: inline-block;
    padding: 10px 10px 10px 0;
}
.event_info .event_title{
    position: relative;
    font-size: 22px;
    font-weight: 600;
}
.event_info .event_title span{
    border: 2px solid;
    padding: 0px;
    background: linear-gradient(to right,#e59a11db,yellow);
    font-size: 14px;
    margin-right: 39px;  
}
.event_info .event_desc{
    font-size: 14px;
    margin-top: 5px;
}
.event_header p {
    /* color: #eee; */
    font-size: 20px;
    font-weight: bold;
    font-family: cursive;
    text-align: center;
    margin-bottom: 21px;
}
.sidebar_toggle_event{
    position: absolute;
    top: 0;
    right: 0;
    background: yellow;
    border: none;
    color: white;
    cursor: pointer;
}

.ss{
    background-color: white;
}
.calendar_event mat-card{
    border: 2px solid;
    margin: 24px;
    width: 28%;
    cursor: pointer;
    display: inline-block;
    height: 125px;}
