<div class="card" >
  <div class="content">
    <div class="title">
      <span >מתכון</span>
       </div>
  <img src="../../assets/BOURBON-PUMPKIN-PIE-RECIPE-07092017.jpg" alt="Avatar" style="width:100%" (click)="count()" routerLink="/Home/ShowMealDetails/{{meal.mealCode}}">
  <div class="container">
    <h4><b> {{meal.mealName}}</b></h4> 
    <div class="user_comment">
      <div> <mat-icon>person</mat-icon></div>
      <div class="d">
      <div>
        <span>{{meal.userName}}</span> <span>{{DateUplaod()}}</span>
      </div>
      <div class="icons">
        <mat-icon matTooltip="הורד"  (click)="download()" >download</mat-icon>
        <mat-icon matTooltip="שמור" (click)="add()">favorite</mat-icon>
      </div></div>
    </div>
  </div>
   </div>
</div> 
