<div class="card" >
    <div class="content">
      <div class="title">
        <span >מתכון</span>
         </div>
    <img src="http://vecurosoft.com/products/html/grillinator/demo/assets/img/food-menu/food-menu-img-3-3.jpg" alt="Avatar" style="width:100%"routerLink="/Home/ShowMealDetails/{{meal.mealCode}}">
    <div class="container">
      <!-- <h5> <mat-icon>schedule</mat-icon>50 דק'</h5> -->
      <h4><b> {{meal.mealName}}</b></h4> 
      <div class="user_comment">
        <div> <mat-icon>person</mat-icon></div>
        <div class="d">
        <div>
          <span>{{meal.userName}}</span> <span>18/08/200</span>
        </div>
        <div class="icons">
          <mat-icon matTooltip="הורד"  (click)="download()" >download</mat-icon>
          <mat-icon matTooltip="שמור" (click)="add()">favorite</mat-icon>
        </div></div>
      </div>
    </div>
     </div>
  </div> 
  <!-- <span class="quick_view">
 <button class="quick_close">
   <mat-icon>close</mat-icon>
 </button>
 <div class="view">
   <strong class="head">ww</strong>
    
   <div class="in">
dd
   </div>
   <div class="in">
    dd
       </div>
 
  </div>
  </span > -->