
<div class="body" >
 
  <div class="search">
  <div class="searchBox">
  <div >
    <button class="searchButton" href="#">
         <img src="../../assets/search.png" style="width: 22px;">
     </button>
     <input class="searchInput"type="text" name="" placeholder="חפש...">
    
   </div>
  </div>
   <div class="searchResult">
  <div class="search-input"> 
    <div>
      <span>קטגוריה </span>
      <select name=" " [(ngModel)]="select3" (change)="showBy()" >
        <option *ngFor="let x of category" value="{{x}}">{{x}}</option>
      </select>
    </div>
    <div>
      <span>הצג לפי</span>
      <select name=" " [(ngModel)]="select1" (change)="showBy()"> 
        <option *ngFor="let x of show" value="{{x}}" >{{x}}</option>
      </select>
    </div>     
    <div>
      <span>מיין לפי</span>
      <select name=" " [(ngModel)]="select2" >
        <option *ngFor="let x of sort" value="{{x}}">{{x}}</option>
      </select>
    </div>
   
    </div>
    </div>      

  </div>
  <div class="result_message"><h1>   ...נמצאו {{AllLists.length}}  תוצאות</h1></div>
  <div class="list-items"  >
    <div class="list">
    <ul *ngIf="isMeal" > 
      <li *ngFor="let item of listMeals" >
        <div class="container" ><app-meal [meal]="item" ></app-meal></div>
     </li>
    </ul>
    <ul *ngIf="isMenu">
     <li *ngFor="let item of listMenus"  >
      <div class="container" ><app-menu  [menu]="item" ></app-menu></div>
     </li>
    </ul>
    </div>

  </div>
  </div>
  
       <button id="back-to-top"  (click)="gotoTop()"><mat-icon>arrow_upward</mat-icon></button>





  <!-- <div class="d" *ngIf="MealShowDeails">
        <mat-icon (click)="MealShowDeails=!MealShowDeails">close</mat-icon>
    <div>
    <app-show-meal-details [meal]="theMeal"></app-show-meal-details>
    </div></div> -->


    
  