
.body{
 background: white;
}
.list-items{
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.container {
  
  padding: 9px 9px;
  text-align: end;
  display: grid;
}
 ul{
  list-style: none;
}
ul li{
  display: inline-block;
  width: 280px;
}

select {  
width: 100%;
font-size: 16px;
padding: 12px;
font-weight: 500;
resize: vertical;
background: white;
border-radius: .25rem;
border-color:rgba(0,0,0,.1);
direction: rtl;
}

.body .searchResult{
  margin-top: 169px;
  padding: 0 72px;
  width: 100%;
  display: inline-block;


}
.body .searchResult .result_message{
  font-size: 18px;
  line-height: 1;
  margin: 3px ;
  float: left;
}


#back-to-top{
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 26px;
  width: 50px;
  height: 50px;
  background-color: #fff;
  color: #b0b0b0;
  cursor: pointer;
  outline: none;
  border: 3px solid #ccccccfa;
  border-radius: 50%;
  box-shadow: 0px 0px 20px -8px grey;
}

#back-to-top:hover, #back-to-top:focus{
  background-color: #333;
  color: #fff;

} 


.wrapper{
  position: fixed;
  /* left: 0%; */
  background: rgb(95 95 95);
  width: 100%;
  padding: 10px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  margin-top: 59px;
  /* margin-bottom: 35px; */
  transition: all ease 0.1s;
  /* padding: 20px; */
  border-bottom: 4px double gold;
    padding-right: 93px
}

.wrapper .input {
  width: 81%;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  /* font-weight: bold; */
  direction: rtl;
  margin: 0 11px;
  font-size: 17px;
  font-family: system-ui;

}

.searchbtn {
    background: #ffec00;
    width: 10%;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
}

.searchbtn .fas{
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
}





.sticky {
  position: fixed;
    top: -8%;
    width: 100%;
    background: #eee;
    box-shadow: 0px 0px 25px 0px;

}
