<div class="s">
  <ul>
    <li><span> פופולרי</span>
      <mat-selection-list #shoes>
        <mat-list-option *ngFor="let shoe of typesOfShoes">
          {{shoe}}
        </mat-list-option>
      </mat-selection-list>
    </li>
    <li><span> פופולרי</span>
      <mat-selection-list #shoes>
        <mat-list-option *ngFor="let shoe of typesOfShoes">
          {{shoe}}
        </mat-list-option>
      </mat-selection-list>
    </li>
    <li><span> פופולרי</span>
      <mat-selection-list #shoes>
        <mat-list-option *ngFor="let shoe of typesOfShoes">
          {{shoe}}
        </mat-list-option>
      </mat-selection-list>
    </li>
    <li><span> פופולרי</span>
      <mat-selection-list #shoes>
        <mat-list-option *ngFor="let shoe of typesOfShoes">
          {{shoe}}
        </mat-list-option>
      </mat-selection-list>
    </li>
  </ul>
</div>

<div class="body">

  <!-- <div class="searchResult">
  <p class="result_message">
    454 תוצאות
  </p>
  <div class="search_sort"></div>
  </div> -->
  <div class="list-items">
    <ul *ngFor="let item of listMeals">
      <li>
        {{item}}
        <div class="container">
          <div class="image">
            <div class="type">
              <img src="../../assets/3.jpg" alt="Avatar" style="width:100%">
            </div>
            <div class="text">
              <span><a routerLink="/MyHome/ShowMealDetails/" +item.mealCode>מתכון</a> </span>
              <h2> עוגת חלבה </h2>
              <!-- <strong> תיאור</strong> -->
              <div>
                <ul>
                  <li>45 דקות </li>
                  <!-- <li>כשר</li> -->
                  <li>קל</li>
                </ul>
                <div>
                  <mat-icon>star_outline</mat-icon>
                  <mat-icon>star_rate</mat-icon>
                  <mat-icon>star_rate</mat-icon>
                  <mat-icon>star_rate</mat-icon>
                  <mat-icon>star_rate</mat-icon>
                </div>
              </div>
            </div>
          </div>
          <div class="middle">
            <mat-icon>favorite</mat-icon>
            <mat-icon>add_circle</mat-icon>
            <mat-icon>download</mat-icon>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>