
.body{
 /* background: #ffffff; */
 /* height: 100%; */
 /* background: yellow; */
}
.list-items{
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
.container {
  
  padding: 9px 9px;
  text-align: end;
  display: grid;
}
 ul{
  list-style: none;
  padding: 0 52px;
}
ul li{
  display: inline-block;
  width: 280px;
}

select {  
  /* width: 100%; */
  font-size: 16px;
  padding: 12px;
  cursor: pointer;
  font-weight: 500;
  /* resize: vertical; */
  background: none;
  /* border-radius: .25rem; */
  /* border-color: rgba(0,0,0,.1); */
  direction: rtl;
  outline: none;
  border: none;
  color: gray;
  /* border-bottom: 2px solid gray; */

}

.search{
  background: white;
  position: sticky;
  top: 64px;
  z-index: 2;
  box-shadow: 1px 1px 1px #0000004d;

}
.body .searchResult{
  padding: 5px 87px;
  /* width: 100%; */
  display: flex;
  justify-content: end;
  /* align-items: end; */
  /* background: white; */
}
.result_message{
  text-align: end;
  padding: 28px 39px;
  padding-bottom: 0;
}
 .result_message h1{
  font-size: 18px;
  line-height: 1;
  font-family: sans-serif;
}
.search-input{
  display: flex;
}
.search-input div{
  width: 200px;
  margin-left: 34px;
  direction: rtl;
  font-size: 18px;
  font-family: system-ui;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.search-input div span{
  width: 90px;
  font-size: 17px;
  font-weight: 600;
}
.se

#back-to-top{

    display: block;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: black;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }

#back-to-top:hover{
  background-color: #333;
  color: #fff;

} 


.wrapper{
  background: #fff;
  width: 100%;
  padding: 10px;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  transition: all ease 0.1s;
  box-shadow: 0 2px 4px 0 rgb(52 52 52 / 10%);
  position: sticky;
  top: -1px;
 

}

.wrapper .input {
  width: 81%;
  padding: 4px 15px;
  /* border: none; */
  border-radius: 5px;
  direction: rtl;
  margin: 0 11px;
  font-size: 15px;
  font-family: system-ui;
  border: 1px solid rgb(0 0 0 / 28%);
  outline: none;

}

.searchbtn {
    background: white;
    width: 10%;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
    border: 1px solid rgb(0 0 0 / 28%);}

.searchbtn .fas{
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
}



/* .show{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  display: block;
  background: rgba(0,0,0,0.8);
} */
.show_inner{
  width: 98%;
  height: 90%;
  position: fixed;
  /* top: calc(50% - 216px); */
  /* left: calc(38% - 390px); */
  box-shadow: 4px 4px 16px rgb(0 0 0 / 38%);
  background: #fff;
  display: flex;
  /* left: 70%; */
  top: 4%;
  left: 1%;
}

/* .sticky {
  position: fixed;
    top: -8%;
    width: 100%;
    background: #eee;
    box-shadow: 0px 0px 25px 0px;

} */

.searchBox{

  padding: 25px 275px;
  /* background: white; */
  padding-bottom: 14px;
  display: flex;
  justify-content: center;
}
.searchBox div {
  border-radius: 40px;
  padding: 3px;
  border: 1px solid rgb(0 0 0 / 87%);
  height: 47px;
  width: 630px;
}


 .searchButton:hover {
  background: gray;
}

.searchButton {
  background: rgb(0 0 0 / 60%);
color : #2f3640;
  float: left;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  cursor: pointer;
  border: none;
}

.searchInput {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  width: 571px;
  direction: rtl;
  padding: 0px 7px;
}
.d{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  display: block;
  background: rgba(0,0,0,0.8);}
.d div{
    /* width: 80%; */
    /* height: 100%; */
    top: 3%;
    position: absolute;
    /* top: calc(50% - 250px); */
    /* left: calc(50% - 375px); */
    box-shadow: 4px 4px 16px rgb(0 0 0 / 38%);
    background: #fff;
    /* display: flex; */
    left: 3%;
    right: 3%;
    bottom: 3%;
    overflow-y: scroll;
}
.d mat-icon{
  color: aliceblue;
    margin: 7px;
    width: 38px;
    height: 38px;
    /* background: #fafafa; */
    cursor: pointer;
    text-align: center;
    border: 1px solid;
    border-radius: 50%;
    padding: 6px;
}


