@import "../all-meals/all-meals.component.css";
.search-options p{
    width: 100%;
    text-align: end;
    font-size: 20px;
    font-family: system-ui
}
.list ul li {
    margin: 10px;
}
.list ul{
    padding: 20px;
}
.contain{
    width: 100%;
}