/* You can add global styles to this file, and also import other style files */

/* html, body { height: 100%; } */
/* body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */
*{
    box-sizing:border-box;
}
html, body { height: 100%;}

/* html, body { height: 100%; } */
body { margin: 0; font-family: 'Varela Round', sans-serif; }
.custom-style{
    /* background-color: brown; */
    width: 10px;
}
.mat-menu-panel {
    display: contents;
    box-shadow: none;
    -webkit-overflow-scrolling: touch;
    background: none;
}
/* .mat-dialog-container  
mat-dialog-container{
    box-sizing: border-box;
    outline: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    min-height: inherit;
    max-height: inherit;
    background-color: yellow;
    border: none;
} */
/* .mat-dialog-container .container{
    background-color: blue;
    border:2px solid
} */


.backdropBackground{
    background-color: rgba(0, 0, 0, 0.212);
}
.s{
    /* background-color: blue; */
    width: 80%;
    /* padding: 18px; */
}
.mat-dialog-container {
    /* border-radius: 20px !important; */
    /* background-color: blue; */
    border-radius: 0;
  }
  .s .mat-dialog-container {
    /* border-radius: 50px !important; */
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
