/* You can add global styles to this file, and also import other style files */

/* html, body { height: 100%; } */
/* body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */
*{
    box-sizing:border-box;
}
html, body { height: 100%;}

/* html, body { height: 100%; } */
body { margin: 0; font-family: 'Varela Round', sans-serif; }




html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.my-dialog mat-dialog-container{
    border-radius: 0;
    height: 95%;
    margin-top: 18px;
    padding: 0;
}
.cdk-overlay-dark-backdrop {
    background: #f1f1f17a;
}
