
   .body{
    /* background-size: cover; */
    /* background-image:linear-gradient(#fafafa,#eeeeee05),url(https://lh6.googleusercontent.com/-XgKRmzgY8L0/VNTAdhjfQSI/AAAAAAAACQ8/hjehtGE7a4I/s1600/bellamazedwallpaper.jpg); */
    width: 100%;
    /* height: 100%; */
    background-color: #F7F7F7;
    /* min-height: 100vh; */
    /* position: relative; */
    
    /* font-family: 'Source Sans Pro', 'Lucida Grande', sans-serif; */
   }
    .signInbox{
    
        width: 350px;
        height: 500px;
        color: black;
        /* top: 55%;
        left: 50%;
        position: absolute;
        transform: translate(-50%,-50%); */
        box-sizing: border-box;
        padding: 70px 30px;
        direction: rtl;
        /* box-shadow: 0 0px 22px rgb(0 0 0 / 22%); */
        padding: 40px;
        background-color: #fff;
        border: 2px solid;
    
    
}

   
#avatar{
    margin-right: 88px;
    color: darkgray;
}
h1{
    /* margin: 0;
    padding: 0 0 20px; */
    /* text-align: ; */
    font-size: 22px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: rgba(0,0,0,.1);
    color: rgba(0,0,0,.7);
    font-weight: bold;
    line-height: 2;
}
label{
    margin-bottom: 10px;
    font-size: 16px;
    display: block;
    font-weight: bold;
}
.signInbox p{
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
    
}

.signInbox input {  
    width: 100%;
    height: 20px;
    font-size: 16px;
    height: 38px;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    resize: vertical;
    background: white;
    border-radius: .25rem;
    border-color:rgba(0,0,0,.1);

}
.signInbox input:hover, .pass:hover{
    border-color: gold;
}
.signInbox .submit{
    border: none;
    outline: none;
    height: 40px;
    font-size: 18px;
     margin-top: 10px;
    margin-bottom: 10px;
    /* background-color: rgba(255, 255, 255, 0.726); */
    /* background-image: linear-gradient(
-180deg
, rgba(255, 255, 255, .09) 0%, rgba(17, 17, 17, .04) 100%); */
    border: 1px solid rgba(22, 22, 22, .20);
    /* color: #444; */
    width: 100%;
} 
 .signInbox .submit:hover { 
cursor: pointer;
background-color: white;
}
.signInbox a{
    /* text-decoration: underline; */
    font-size: 15px;
    /* line-height: 20px; */
    color:black;
    /* margin-right: 20px; */
}
 /* .pass input{
 width: 80%;
} */



/* להוציא*/
header{
    color: white;
    font-size: 25px;
    font-weight: 900;
    padding: 24px 49px ;
    width: 100%;
    background-color: #22242A;
    background-image: linear-gradient( 
        101deg
         , black, gold,rgb(249 171 0 / 20%));
    border-bottom: 4px solid black;

  
}
  
  a{
    text-decoration: none;
}
.forget{
    color: blue;
    cursor: pointer;
}
/**/
.title{
  top: 15%;
  left: 50%;
  position: absolute;
  transform: translate(-50%,-50%);
  box-sizing: border-box;
  font-weight: bold;
  font-size: 35px;
  text-decoration: none;
    text-shadow: 0px 2px 13px gold;
    /* font-weight: bold; */
    font-family: fantasy;
} 




body{
    font-family: 'Exo', sans-serif;
}


.context {
    width: 100%;
    position: absolute;
    top:50vh;
    
}

.context h1{
    text-align: center;
    color: #fff;
    font-size: 50px;
}


.area{
    /* background: linear-gradient(
        38deg, black, rgb(242 166 0 / 38%)); */
            /* background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8); */
            width: 100%;
            height: 100vh;
            position: fixed;
            z-index: -1;
            background: lightgray;
            
        
    
   
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgb(0 0 0);
    animation: animate 25s linear infinite;
    bottom: -150px;
    /* border: 4px solid rgb(249 171 0 / 81%); */
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}
