
<div class="w" *ngIf="!flag" #error>
 <h2>שם משתמש או סיסמה לא נכונים</h2>
<span (click)="flag=!flag">x</span>
</div>  
<mat-progress-bar *ngIf="pro" mode="indeterminate"></mat-progress-bar>
<header></header>
 

  <div class="body">
     <div class="title" ><a routerLink="/Home"> Menu
  <span>Calculator</span></a>
</div>
    <div class="signInbox">
        <div id="avatar" class='fas fa-user-circle' style='font-size:100px;'></div>
        <h1>התחבר</h1>
        <form #myForm="ngForm" (ngSubmit)="SignIn()">
          <!-- שם משתמש -->
          <div>
            <label> הכנס שם משתמש  </label>
              <input  type="text"  name="userName"  [(ngModel)]="myUser.UserName"  pattern="[A-Za-z]{4,20}" required #userName="ngModel">
          </div>
             <div  *ngIf="userName.hasError('required') && userName.touched" >
               <i style="color: red;" >*זהו שדה חובה</i> 
            </div>
            <div *ngIf="userName.hasError('pattern') ">
                  <i style="color: red;" >* השדה חייב להכיל 4-20 תווים ללא רווחים</i>  
            </div>       
    
             <!-- סיסמה -->       
             <div>
              <label>הכנס סיסמה</label>
              <div class="pass">
              <input  [type]="hide ? 'password' : 'text'"  name="Password" #Password [(ngModel)]="myUser.Password"  required #password="ngModel">
              <button mat-icon-button matSuffix (click)="hide=!hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </div>
              </div>
              <div  *ngIf="password.hasError('required') && password.touched" >
                <i style="color: red;" >*זהו שדה חובה</i> 
             </div>

            <a class="forget" (click)="openDialog()">שכחתי שם משתמש/סיסמה?</a>

            <!-- <a routerLink="/ResetPassword">שכחתי שם משתמש/סיסמה?</a> -->
      <button class="submit"  [disabled]="!myForm.valid" >כנס</button>

      <p><a routerLink="/SignUp">צור חיבור</a></p>
      <!-- <div *ngIf="!user && flag">
        שם משתמש או הסיסמה שגויי׳ם
      </div> -->
      <!-- <button mat-raised-button ></button> -->
    </form>
      </div>
    </div>

