
<mat-progress-bar *ngIf="pro" mode="indeterminate"></mat-progress-bar>
  <div class="body">
    <div class="signInbox" *ngIf="!forget">
        <div id="avatar" class='fas fa-user-circle' style='font-size:100px;'></div>
        <h1>התחבר</h1>
        <form #myForm="ngForm" (ngSubmit)="SignIn()">
          <div>
            <label> הכנס שם משתמש  </label>
              <input  type="text"  name="userName"  [(ngModel)]="myUser.UserName"  pattern="[A-Za-z]{4,20}" required #userName="ngModel">
          </div>
             <div  *ngIf="userName.hasError('required') && userName.touched" >
               <i style="color: red;" >*זהו שדה חובה</i> 
            </div>
            <div *ngIf="userName.hasError('pattern') ">
                  <i style="color: red;" >* השדה חייב להכיל 4-20 תווים ללא רווחים</i>  
            </div>       
             <div>
              <label>הכנס סיסמה</label>
              <input  [type]="hide ? 'password' : 'text'"  name="Password" #Password [(ngModel)]="myUser.Password"  required #password="ngModel">           
              </div>
              <div  *ngIf="password.hasError('required') && password.touched" >
                <i style="color: red;" >*זהו שדה חובה</i> 
             </div>
            <a class="forget" (click)="forget=!forget">שכחתי שם משתמש/סיסמה?</a>
         <button class="submit"  [disabled]="!myForm.valid" >כנס</button>
      <p><a routerLink="/Home/SignUp">צור חיבור</a></p>
    </form>
    </div>
      
    <!--**************************************************************************-->
      <div  class="signInbox"  *ngIf="forget">
        <h1>שחזור סיסמה</h1>
        <form #myForm1="ngForm">
          <div *ngIf="!pass">
         <div>
            <label> הכנס  אימייל  </label>
            <input  type="email"  name="userName"  [(ngModel)]="myUser.mail" pattern="[A-Za-z]{4,20}" required >
        </div>    
             <!-- סיסמה -->       
         <!-- [disabled]="!myForm.valid" -->
        <button class="submit"   (click)="sendEmail()">שלח</button>
        <div>
          <label> הכנס  קוד אימות  </label>
          <input  type="text"  name="userName"    [(ngModel)]="code" required>
      </div>
      <button class="submit"   (click)="check()" [disabled]="!myForm1.valid">אישור</button>
    </div>
    <div *ngIf="pass">
      <div>
        <label> הכנס  סיסמה חדשה  </label>
        <input  type="password"  name="userName"  [(ngModel)]="password1"  pattern="[A-Za-z]{4,20}" required #userName="ngModel">
    </div>  
    <div>
      <label>   חזור על הסיסמה  </label>
      <input  type="password"  name="userName"  [(ngModel)]="password2"  pattern="[A-Za-z]{4,20}" required #userName="ngModel">
  </div>
  <button class="submit"   (click)="changePass()" >אישור</button>

      <p><a (click)="forget=!forget">התחבר</a></p>
  </div>   
    </form>
    </div>
    </div>

    <!-- <div class="area" >
      <ul class="circles">
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
      </ul>
</div > -->