@import "../add-meal/add-meal.component.css";
.table{
  overflow: auto;
  height: 455px;
}
table {
  border-collapse: collapse;
  width: 100%;
  font-family: system-ui;
}
.mat-header-cell{
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  position: sticky;
  top: 0;
  z-index: 1;
  background: white;
}
th, td {
  padding: 8px;
  text-align: center;
  border-bottom: 1px solid #DDD;
}
tr:hover {
background: #a9a9a91f;
  cursor: pointer;
}