<div class="container">
  
    <mat-toolbar>
      <h2 *ngIf="data==null"> הוסף תפריט</h2>
      <h2 *ngIf="data!=null"> עדכן תפריט</h2>
      <div>
        <button *ngIf="data==null" mat-raised-button (click)="saveMeal()" mat-dialog-close> שמור </button>
        <button *ngIf="data!=null" mat-raised-button (click)="updateMeal()" mat-dialog-close> עדכן </button>
        <mat-icon mat-dialog-close class="close">close</mat-icon>
      </div>
    </mat-toolbar>
  <mat-dialog-content>
    <div class="details">
  
      <div class="form s">
  
        <label>שם תפריט</label>
        <input type="text" name="MenuName" [(ngModel)]="newMenu.menuName" />
  
        <label>קטגוריה</label>
        <select name=" " [(ngModel)]="selectCa">
          <option *ngFor="let x of categories; let i=index" value={{x.mealCategoriesName}} >{{x.mealCategoriesName}}</option>
          <option value="">הוסף קטגוריה</option>
        </select>
        <label>דרגת קושי</label>
        <select name=" ">
          <option value="">קל</option>
          <option value="">בינוני</option>
          <option value="">קשה</option>
  
        </select>
        <label>תאור התפריט</label>
        <textarea id="discription" name="Discription" [(ngModel)]="newMenu.discription"></textarea>

      </div>
    
      <div class="form products">
        <div class="title"> המנות </div>
        <div class="list">
            <mat-list role="list">
                <mat-list-item role="listitem" *ngFor="let x of MenuList">
                            <h1>{{x.mealName}}</h1>
                </mat-list-item>
              </mat-list>
        
  </div>
        </div>
 </div>
        <div class="list">
          <div class="card" *ngFor="let x of listMeals" (click)="MenuList.push(x)">
            <img src="../../assets/3.jpg" alt="Avatar" style="width:100%">
            <div class="container">
              <h4><b>{{x.mealName}}</b></h4> 
              <!-- <p>{{meal.}}</p>  -->
            </div>
          </div>
        </div>
     
      </mat-dialog-content>
    
  </div>