

  <mat-toolbar>
    <h2 *ngIf="data==null"> הוסף תפריט</h2>
    <h2 *ngIf="data!=null"> עדכן תפריט</h2>
    <div>
      <button *ngIf="data==null" mat-raised-button (click)="saveMenu()" mat-dialog-close> שמור </button>
      <button *ngIf="data!=null" mat-raised-button (click)="updateMenu()" mat-dialog-close> עדכן </button>
      <mat-icon mat-dialog-close class="close">close</mat-icon>
    </div>
  </mat-toolbar>
  <mat-drawer-container >
    <mat-drawer mode="side" [opened]=open position="end">
      <div class=" form ">
        <label>שם תפריט</label>
        <input type="text" name="MenuName" [(ngModel)]="newMenu.menuName" />
  
        <label>קטגוריה</label>
        <select name=" " [(ngModel)]="selectCa">
          <option *ngFor="let x of categories; let i=index" value={{x.menuCategoriesName}} >{{x.menuCategoriesName}}</option>
        </select>
           <label>דרגת קושי</label>
        <select name=" " [(ngModel)]="selectLe">
        <option *ngFor="let x of levels; let i=index" value={{x.levelName}} >{{x.levelName}}</option>
        </select>
  
        <label>תאור התפריט</label>
        <textarea id="discription" name="Discription" [(ngModel)]="newMenu.discription"></textarea>
  
        
        <label> מספר מנות שנבחרו : {{MenuList.length}}</label>
  
      </div>    
    </mat-drawer>
    <mat-drawer-content *ngIf="add">
      <mat-icon  class="menu" (click)="change()">check_circle</mat-icon>
      <div class="search-input"><input  type="text" placeholder="חפש בתפריטים שלי" /></div>
        <div class="card">
          <div class="ft-recipe" *ngFor="let x of ELEMENT_DATA" (click)="Add(x)"  [ngClass]="MenuList.includes(x)? 'change' : ''"> 
            <div class="ft-recipe__thumb">
              <h3>{{x.mealName}}</h3>
             <img src="{{GetPicture(x)}}" alt=""/>
            </div>
            <div class="ft-recipe__content">
              <header class="content__header">
                <ul class="recipe-details">
                  <li class="recipe-details-item time"><mat-icon>schedule</mat-icon><span class="value">?</span><span class="title">דקות</span></li>
                  <li class="recipe-details-item ingredients"><mat-icon>menu_book</mat-icon><span class="value">{{x.products.length}}</span><span class="title">מרכיבים</span></li>
                  <li class="recipe-details-item servings"><mat-icon>person</mat-icon><span class="value">{{x.numberOfDiners}}</span><span class="title">סועדים</span></li>
                </ul>
              </header>
            </div>
          </div>
        </div>
    <!-- <div>
      <div class="container" *ngFor="let x of ELEMENT_DATA" (click)="add(x)"   [ngClass]="MenuList.includes(x)? 'change' : 'container'" >
        <img src="https://t3.ftcdn.net/jpg/02/79/75/74/240_F_279757407_LJTTkYBnulnFPkoKJLQjf5L7Xrl6mOZy.jpg" alt="Avatar" class="image" style="width:100%">
        <div class="middle">
          <div class="text">{{x.mealName}}</div>
        </div>
      </div></div> -->
        <!-- </mat-grid-tile>   
      </mat-grid-list> -->
    </mat-drawer-content>
    <mat-drawer-content *ngIf="!add">
      
      <div class="header"><h1>מנות  ({{MenuList.length}})</h1><mat-icon (click)="change()" title="הוסף מנות">add_circle_outline</mat-icon></div>
         <div class="container__text" *ngFor="let x of MenuList">
          <div class="img" style="background-image: url('{{GetPicture(x)}}');">
         </div>
          <div class="details">
          <h1>{{x.mealName}}</h1>
          <p>
           {{x.discription}}
          </p>
          <div class="container__text__timing">
           <div class="container__text__timing_time">
            <h2>Hands-on Time</h2>
            <p>30 min</p>
           </div>
           <div class="container__text__timing_time">
            <h2>Total Time</h2>
            <p>40 min</p>
           </div>
           <div class="container__text__timing_time">
            <h2>Yield</h2>
            <p>40 min</p>
           </div>
          </div>
          <button (click)="editMeal(x)"class="btn">ערוך מתכון<mat-icon >edit</mat-icon></button>
         </div>
        </div>
      
    </mat-drawer-content >
  </mat-drawer-container>
  