@import "../my-meals/my-meals.component.css";


mat-toolbar{
    background-color: gold;
    margin: 0;
    direction: rtl;
    border-bottom: 2px solid rgb(0 0 0 / 12%);
}
.click{
    background-color: white;
    direction: rtl;
    padding: 0;
    align-items: center;
    padding-left: 55px
}
.click .contain{
width: 100%;
display: flex;
margin: 0 120px;
}
.click #icon{
    display: flex;
    padding-left: 20px;
    cursor: pointer;
}
.click .number_select{
    width: 100%;
    text-align: right;
}
.click button{
margin-right: 13px;
}

 form {
    margin-right: 270px;
}
 form input {
    width: 640px;
    border-radius: 9px;
    border: none;
    padding: 5px 15px;
    font-size: 19px;
    font-family: system-ui;

}
mat-toolbar form input:focus {
outline: none;
}
.history-cards mat-card{
box-shadow: none;
margin-top: 13px;
direction: rtl;
}
.history-cards mat-card.date{
   box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
    margin: 20px 105px;
    margin-top: 186px;
} 
.history-cards mat-card.date p{
 text-align: right;
}
mat-card.item{
    align-items: center;
    display: flex;
}
mat-card.item .link{
width: 100%;
text-align: center;
}
mat-card.item .link a{
   margin: 0 10px;
   cursor: pointer;
    }
mat-card.item .menu {
align-items: center;
}
mat-menu{
    background-color: gold;
}

