
<p *ngIf="u!=null">אפשר</p>

<div *ngIf="u==null">
    <mat-icon>history</mat-icon>
<h1>כאן אפשר לעקוב אחרי התוכן שצפית בו</h1>
    <h3> לא ניתן לצפות בהסטוריית הצפייה לאחר שיצאת מהחשבון </h3>
<button mat-raised-button routerLink="/SignIn">כניסה<mat-icon class="user">account_circle</mat-icon></button>

<!-- <button  >כניסה
         </button> -->
</div>


<div class="body">
      
      <div *ngIf=" u!=null" class="empty">
        <mat-icon>list_alt</mat-icon>
    <h1>     היסטוריה שלך ריקה      </h1>
        <!-- <h3> לא ניתן לצפות בהסטוריית הצפייה לאחר שיצאת מהחשבון </h3> -->
    <!-- <button mat-raised-button routerLink="/SignIn">כניסה<mat-icon class="user">account_circle</mat-icon></button> -->
    
    <!-- <button  >כניסה
             </button> -->
    </div>
    
    
    
    
    </div>
    
    <div *ngIf="u==null" class="user">
        <mat-icon>ballot</mat-icon>
    <h1>כאן אפשר לצפות ברשימת המנות שיצרת   </h1>
        <!-- <h3> לא ניתן לצפות בהסטוריית הצפייה לאחר שיצאת מהחשבון </h3> -->
    <button mat-raised-button routerLink="/SignIn">כניסה<mat-icon class="user">account_circle</mat-icon></button>
    
    <!-- <button  >כניסה
             </button> -->
    </div>
