
    <mat-horizontal-stepper   [linear]="isLinear">
      <mat-step label=" זיהוי"  completed="false">
       
       <div class="div"> <p>
          <mat-form-field >
            <label> הכנס שם משתמש </label>
              <input type="text" matInput  name="User" [(ngModel)]="User.UserName">
            </mat-form-field>
            <mat-form-field >
              <label> הכנס מייל  </label>
                <input type="text" matInput  name="User" [(ngModel)]="User.UserName">
              </mat-form-field>
        </p>
        <div>
          <button mat-button matStepperNext>הבא</button>
        </div>
      </div>
      </mat-step>

      <mat-step label=" אימייל"  completed="false" >
        <p>
          
            <mat-form-field >
              <label> הכנס קוד   </label>
                <input type="text" matInput  name="User" [(ngModel)]="User.UserName">
              </mat-form-field>
          </p>
        <div>
          <button mat-button matStepperPrevious>חזור</button>
          <button mat-button matStepperNext>הבא</button>
        </div>
      </mat-step>

      <mat-step label=" סיסמה " completed=false>
        
        <p> 
          <mat-form-field>
            <label>הכנס סיסמה</label>
            <input matInput [type]="hide ? 'password' : 'text'"  name="Password" #Password   >
            <button mat-icon-button matSuffix (click)="hide=!hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
          <mat-form-field>
            <label>אמת סיסמה</label>
            <input matInput [type]="hide ? 'password' : 'text'"  name="Password" #Password   >
            <button mat-icon-button matSuffix (click)="hide=!hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
        </p>
      <div>
        <button mat-button matStepperPrevious>חזור</button>
        <button mat-button matStepperNext>הבא</button>
      </div>  
        </mat-step>

        <mat-step label=" סיום" completed=false>
         
        <div>
          <button mat-button matStepperNext>סיים</button>
        </div>  
          </mat-step>

    
  