<div class="container_page">
  <div class="page_box" id="header">
    <div class="search-input"><input (keyup)="search()" #input type="text" [(ngModel)]="text" placeholder="חפש בתפריטים שלי"/></div>   
       <div>התפריטים שלי ({{ELEMENT_DATA.length}})</div> 
  </div>
  <div class="info">
    <button id="add" (click)="AddMenu()" mat-button>
      <mat-icon>add</mat-icon> הוסף תפריט חדש
    </button>
 <div class="page_content" *ngIf="ELEMENT_DATA.length!=0">
<div class="container">
  <div class="recipe-card" *ngFor="let x of ELEMENT_DATA">
    <div class="header" style="background: url('{{GetPicture(x.pictureCode)}}');background-size: cover;background-repeat: no-repeat;background-position: center;" >
      <button class="edit" (click)="UpdateMenu(x)" title="ערוך"><mat-icon>edit</mat-icon></button>
      <button class="delete" (click)="Delet(x)" title="מחק"><mat-icon>delete</mat-icon></button>
      <button class="share" (click)="shareOne(x)" *ngIf="!x.publish" title="שתף"><mat-icon>share</mat-icon></button>
      <button class="download"   title="הורד"><mat-icon>download</mat-icon></button>
      <button *ngIf="x.publish" class="share publish" ><mat-icon  class="" title="הסר שיתוף" (click)="removeShare(x)">star</mat-icon></button>
    </div>
    <div class="body">
      <span class="title" >{{x.menuName}}</span>
      <ul class="details">
        <li><b>קטגוריה:</b>{{Category(x)}}</li>
        <li><b>דרגת קושי:</b>{{Level(x)}} </li>
        <li>{{x.meals.length}}<b>:מספר מנות</b></li>
        <li>{{DateCreated(x)}}<b>:נוצר בתאריך</b></li>
        <li *ngIf="x.dateUpdated!=null">{{DateUpdated(x)}}<b>:עודכן בתאריך</b></li>
        <li *ngIf="x.publish">{{x.viewsNumber}}<b>:מספר צפיות</b></li>
      </ul>
    </div>
  </div>
</div>
 </div>
  <div *ngIf="ELEMENT_DATA.length==0" class="empty">
    <mat-icon>list_alt</mat-icon><h1>רשימת התפריטים שלך ריקה </h1>
</div>
</div>
</div>
 <div class="loader" *ngIf="loader"></div> 




