.container, .body{
    text-align: center;
    width: 100%;
    height: 600px;
    /* background-color: white; */
}
div.empty, div.user{
    text-align: center;
    padding: 20px;
    margin-top: 157px;
    width: 100%;
}
mat-icon{
    font-size: 130px;
    color: #b0b0b0;
    margin-right: 109px;
}
.user{
    padding-left: 10px;
font-size: 20px;
    color: #b0b0b0;
}
button{
    width: 86px;
}
mat-toolbar{
    background-color: #ccc;
    margin: 0;
    direction: rtl;
    border-bottom: 2px solid rgb(0 0 0 / 12%);
    justify-content: space-between;
}
mat-toolbar button{
    background-color: whitesmoke;
}
/* div.empty{
    margin-top: 20px;
} */