@import "../my-meals/my-meals.component.css";
.list{
    width: 100%;
    height: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
ul{
    list-style: none;
}
ul li {
    display: inline-block;
}
ul li mat-card{
    width: 439px;
    height: 223px;
    margin: 7px;
    cursor: pointer;
    text-align: end;
}
ul li mat-card:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

