<div class="body">
<div class="container" *ngIf="u!=null">
<mat-toolbar>
    <h2>התפריטים שלי</h2>
    <button mat-raised-button> תפריט חדש </button>
   </mat-toolbar>  
<div *ngIf="u!=null && listMenus!=null">

</div>
<div *ngIf="listMenus==null && u!=null" class="empty">
    <mat-icon>list_alt</mat-icon>
<h1>     רשימת התפריטים שלך ריקה   </h1>
    <!-- <h3> לא ניתן לצפות בהסטוריית הצפייה לאחר שיצאת מהחשבון </h3> -->
<!-- <button mat-raised-button routerLink="/SignIn">כניסה<mat-icon class="user">account_circle</mat-icon></button> -->

<!-- <button  >כניסה
         </button> -->
</div>


</div>
<div *ngIf="u==null" class="user" >
    <mat-icon>list_alt</mat-icon>
<h1>כאן אפשר לצפות ברשימת התפריטים שיצרת   </h1>
    <!-- <h3> לא ניתן לצפות בהסטוריית הצפייה לאחר שיצאת מהחשבון </h3> -->
<button mat-raised-button routerLink="/SignIn">כניסה<mat-icon class="user">account_circle</mat-icon></button>

</div>
</div>