<mat-nav-list  >
  <div class="sidebar">       
    <!-- <mat-icon id="btn" >menu</mat-icon>        -->

 <div class="logo-details">
     <span class="logo_name">MenuCalculator</span>
 </div>

 <ul class="nav-list">
   <!-- <li>
     <mat-icon>search</mat-icon>
      <input type="text" placeholder="Search...">
      <span class="tooltip">Search</span>
   </li> -->
   <li>
    <mat-expansion-panel (opened)="panelOpenState = true"
    (closed)="panelOpenState = false" >
      <mat-expansion-panel-header>
      <mat-panel-title routerLink="/User/MyMeals">
     המנות שלי  
     </mat-panel-title>
    
   </mat-expansion-panel-header>
   <p routerLink="/User/AddMeal">הוסף מנה</p>
  </mat-expansion-panel>
   </li>
   <li>
    <mat-expansion-panel (opened)="panelOpenState = true"
    (closed)="panelOpenState = false" >
      <mat-expansion-panel-header>
      <mat-panel-title routerLink="/User/MyMenus">
    התפריטים שלי  
     </mat-panel-title>
    
   </mat-expansion-panel-header>
   <p routerLink="/User/AddMeal">הוסף מנה</p>
  </mat-expansion-panel>
   </li>
   <li>
     <a routerLink="/User/MyMeals">
         <mat-icon>list</mat-icon>
         <span class="links_name">המנות שלי </span>
     </a>
      <span class="tooltip">Dashboard</span>
   </li>
   <li>
    <a routerLink="/User/AddMeal">
     <mat-icon>settings</mat-icon>
     <span class="links_name"> הוסף מנה </span>

    </a>
    <span class="tooltip"> מנה</span>
  </li>

  
 </ul>
</div>
</mat-nav-list>
