/* .sidebar{
    z-index: 1;
    background: whitesmoke ;
    position: fixed;
    top: 50px;
    width: 250px;
    height: 100%;
    transition: 0.3s;
    overflow-y: auto;
    display: block;
    transition: width 0.5s;
  }
    .sidebar .sidebar-menu{
    overflow:hidden;
  }
   .sidebar .sidebar-menu{
    overflow:hidden;
  }
   .sidebar .sidebar-menu .item{
    width: 250px;
    overflow:hidden;
  } 
  
   .sidebar .sidebar-menu #profile p{
    color: white;
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 20px;
    padding: 10px;
  }
   .sidebar .sidebar-menu #profile:hover {
  
    cursor: pointer;
    box-shadow:#4CCEE8 1px 1px 10px 6px ;
  }
   .sidebar .sidebar-menu .item .menu-btn{
    display: block;
    color: #000;
    position: relative;
    padding: 25px 20px;
    transition: 0.3s;
    transition-property: color;
    font-size: 15px;
    cursor: pointer;
  }
  
   .sidebar .sidebar-menu .item .menu-btn:hover{
  color:#4CCEE8;
  }
   .sidebar .sidebar-menu .item .menu-btn i{
    margin-left: 20px;
  }
   .sidebar .sidebar-menu .item .menu-btn .drop-down{
    float: left;
    font-size: 12px;
    margin-top: 3px;
  }*/
  /* .sub-menu{
   background: #3498DB; 
  } */
  /* overflow: hidden;
  }
  
   .sidebar .sidebar-menu .item .sub-menu a:hover{
  background:#e2e2e2;
  border-right: #55B1F0 5px solid;
  }
   .sidebar .sidebar-menu .item .sub-menu i{
    padding-left: 20px;
    font-size: 10px;
  
  }  */
 

  .logo{
      text-align: center;
      padding: 13px;
      color: white;
      font-size: 20px;
      font-weight: 500;

  }
 