

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sidebar{
  direction: rtl;
  position: fixed;
  /* background: rgb(0 0 0); */
  padding: 0px 13px;
  /* border-left: 1px solid black; */
  /* right: 0; */
  /* top: 0; */


}


.sidebar mat-icon{
  color: rgb(249 171 0 / 79%);
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}
.sidebar .nav-list{
  margin-top: 20px;
  height: 100%;
}
.sidebar li{
  position: relative;
  padding: 21px 0;
  list-style: none;
  
}
.sidebar li .tooltip{
  position: absolute;
  top: -20px;
  right: calc(100% + 15px);
  z-index: 3;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  color: #11101D;
  font-weight: 400;
  opacity: 0;
  pointer-events: none;
  transition: 0s;
}
.sidebar li:hover .tooltip{
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}
/* .sidebar.open li .tooltip{
  display: none;
} */


.sidebar li a{
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  /* background: #11101D; */
  /* background: linear-gradient(black,rgb(247 208 122),#ffd073fc); */
  /* background-size: 0% ; */
 /* background-position:  ; */
 /* background-repeat: no-repeat;
 transition: background-size 300ms ease; */

}
.sidebar li a:hover{
  /* background: #ffd073fc; */
  /* border: 2px solid #; */
  /* background-size: 100% 6px; */


}
.sidebar li a:hover mat-icon{
  /* color: white; */
  color: black;
}
 .active a {
  border: 2px solid #ffd073fc;
}
.active mat-icon {
color: black;
}
/* .sidebar li a .links_name{
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity:1;
  pointer-events: none;
  transition: 0.4s;
}
.sidebar.open li a .links_name{
  opacity: 1;
  pointer-events: auto;
} */

/* .sidebar li i{
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
  
} */


/* mat-nav-list{
  width: 200px;
  color: white;
  padding: 16px;
  text-align: center;
} */

