.mat-button{
 width: 44%;
 height: 45px;
 margin: 0 5px;
 font-size: 16px;
 line-height: 25px;
 padding: 10px 25px;
 border-radius: 10px;
padding: 10px 25px;
background: #e7272b;
box-shadow: 0px 0px 8px 1px slategrey;
    font-weight: 700;
    color: rgb(0 0 0 / 87%);
    color: white;
}
.mat-dialog-content h1{
    color: rgb(0 0 0 / 87%);
    font-size: 19px;
    direction: rtl;
    text-align: center;
    font-weight: bold;
    font-family: system-ui;
}