
     
    .user{
        width: 350px;
        /* height: 500px; */
        color: black;
        box-sizing: border-box;
        direction: rtl;
        box-shadow: 0 6px 23px rgb(0 0 0);
        padding: 25px 28px;
        background-color: #fff;
        border: 6px solid dimgray;
    
    
}

   
#avatar{
    margin-right: 88px;
    color: darkgray;
}
h1{
    /* margin: 0;
    padding: 0 0 20px; */
    /* text-align: ; */
    font-size: 22px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: rgba(0,0,0,.1);
    color: rgba(0,0,0,.7);
    font-weight: bold;
    line-height: 2;
}
label{
    margin-bottom: 10px;
    font-size: 16px;
    display: block;
    font-weight: bold;
}
.user p{
    font-weight: bold;
    text-align: center;
    text-decoration: underline;  
}

.user input{  
      width: 100%;
    /* border:none; */
    /* border-bottom:1px solid #fff; */
    /* background: transparent;
    outline: none; */
    height: 20px;
    /* color:bl; */
    font-size: 16px;
    height: 38px;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    resize: vertical;
    background: white;
    border-radius: .25rem;
    border-color:rgba(0,0,0,.1);

}
.user input:hover{
    border-color: gold;
}
button{
    width: 50%;
    border-radius: 30px;
    margin: 16px 66px;
    background: linear-gradient( 
184deg
 , yellow, rgb(249 171 0 / 23%));
    box-shadow: 0px 0px 7px -1px;
    font-size: 19px;
    font-weight: bolder;  
}
.close{
    cursor: pointer;
    text-align: end;

}