<div class="body">
    <mat-drawer-container class="container">
        <mat-drawer mode="side" opened position="end">
      <app-sidenav></app-sidenav>
        </mat-drawer>
        <mat-drawer-content>
            
            <router-outlet></router-outlet>
    
        </mat-drawer-content>
      </mat-drawer-container>
    
    </div>
    
    
        
         <!----     <div *ngIf="meal">
                <app-my-meals></app-my-meals>
            </div>
            <div *ngIf="menu">
                <app-my-menus></app-my-menus>
            </div>
    
            <div *ngIf="setting">
                <app-settings></app-settings>
                </div> -->
    
    
    