
    .body{
        /* background-size: cover; */
        /* background-image:linear-gradient(#fafafa,#eeeeee05),url(https://lh6.googleusercontent.com/-XgKRmzgY8L0/VNTAdhjfQSI/AAAAAAAACQ8/hjehtGE7a4I/s1600/bellamazedwallpaper.jpg); */
        width: 100%;
        height: 100%;
        /* background-color: #F7F7F7; */
        min-height: 100vh;
        /* position: relative; */
        
        /* font-family: 'Source Sans Pro', 'Lucida Grande', sans-serif; */
       }   
    .signInbox{
        width: 350px;
        height: 500px;
        color: black;
        top: 55%;
        left: 50%;
        position: absolute;
        transform: translate(-50%,-50%);
        box-sizing: border-box;
        direction: rtl;
        box-shadow: 0 6px 23px rgb(0 0 0);
        padding: 40px;
        background-color: #fff;
        border: 6px solid dimgray;
    
}

   
#avatar{
    margin-right: 88px;
    color: darkgray;
}
h1{
    /* margin: 0;
    padding: 0 0 20px; */
    /* text-align: ; */
    font-size: 22px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: rgba(0,0,0,.1);
    color: rgba(0,0,0,.7);
    font-weight: bold;
    line-height: 2;
}
label{
    margin-bottom: 10px;
    font-size: 16px;
    display: block;
    font-weight: bold;
}
.signInbox p{
    font-weight: bold;
    text-align: center;
    text-decoration: underline;  
}

.signInbox input{  
      width: 100%;
    /* border:none; */
    /* border-bottom:1px solid #fff; */
    /* background: transparent;
    outline: none; */
    height: 20px;
    /* color:bl; */
    font-size: 16px;
    height: 38px;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    resize: vertical;
    background: white;
    border-radius: .25rem;
    border-color:rgba(0,0,0,.1);

}
.signInbox input:hover{
    border-color: blue;
}
