body{
  /* display: none; */
}

#x{
  height: 100%;
  /* background-color: blue; */
  padding: 20px;
  width: 700px;
  display: inline-table;
}

/* .btn {
    background-color: rgb(255 176 2);
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
    display: flex;
  } */
  
  /* Darker background on mouse-over */
  /* .btn:hover {
    background-color: rgb(255 176 2 / 56%);
  } */
 
  /* .img img{
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      height: 100px;
  } */
 .content{
  display: contents;
  }

  .content div.title{
    border: 2px solid rgb(249 171 0 / 40%);
    width: 48%;
    margin: 56px 4px;
    float: right;
    min-height: 500px;

  }
  h2{
    /* width: 100%;
    margin: 15px 0 15px;
    text-align: center;
    font-size: 29px;
    font-weight: 700;
    font-family: system-ui;
    margin-top: -27px;
    background: white;
    padding-top: 25px; */
  }
  
  /* h2:before {
    content: '';
    border-bottom: 3px solid;
    margin: 9px 8px 45px 0;
    flex: 3 0 16px;
  
  }
  
  h2:after {
    margin: 0 0 0 20px;
    border-bottom: 3px solid; */

  /* } */
  h1 {
    overflow: hidden;
    text-align: center;
    font-weight: 700;
  }
  
  h1:before,
  h1:after {
    background-color: #000;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
  }
  
  h1:before {
    right: 0.5em;
    margin-left: -50%;
  }
  
  h1:after {
    left: 0.5em;
    margin-right: -50%;
  }
  .details{
    display: flex;
    justify-content: space-around;
    height: 64px;
    }
  .details div{ 
      background-color: rgb(249 171 0 / 20%);
    width: 193px;
    text-align: center;
    padding: 6px 6px;
  }
  .details div h3{
    margin-top: 6px;
    background-color: white;
    }
  .discription{
 font-size: 17px;  
 text-align: center;
 font-family: system-ui;
}
.title h2{
  width: inherit;
  margin-left: 112px;
  margin-top: -45px;
}
ul li{
  font-size: 12px;
    padding: 2px;
    font-family: system-ui;
    /* list-style: disc; */
}
ul{
  direction: rtl;
}




