body{
    height: 100%;
    position: fixed;
    overflow: auto;
    width: 100%;
}
header{
   display: flex;
   justify-content: space-between;
   width: 100%;
   padding: 11px 26px;
   align-items: center;
   background: white;
   box-shadow:0 2px 4px 0 rgb(52 52 52 / 10%);
   position: sticky;
   border-bottom: 2px solid #e7272d;
   top: 0;
   z-index: 3;
   color: black;
 }
 header .logo img{
    width: 240px;
    cursor: pointer;
  }
  header span{
    font-size: 17px;
    font-weight: 700;
    font-family: system-ui;
    padding: 0 6px;
    cursor: pointer;
  }
  header .m{
    border-right: 2px solid black;
    color: #e7272d;
  }
  .button{
    background: #ccc;
    display: flex;
    justify-content: center;
    direction: rtl;
    position: sticky;
    top: 74px;
  }
  .button button{
    border: 2px solid #e7272b;
    border-radius: 35px;
    font-size: 15px;
    font-weight: 700;
    font-family: system-ui;
    padding: 9px 15px;
    margin: 12px;
    box-shadow: 1px 1px 9px 0px rgb(0 0 0 / 38%);
    width: 157px;
    cursor: pointer;
    transition: all ease 0.3s;
    direction: ltr;
  }
  button.focus{
    background: black;
    color: white;
  }
  button.notFocus{
    background: white;
    color: black;
  }
   .button button:hover{
      background: black;
      color: white;
  }
table {
    font-family: system-ui;
    direction: rtl;
    width: 100%;
    padding: 10px;
    border-collapse: collapse;
    border: 25px solid white;
  }  
   th {
    border-bottom: 1px solid #dddddd;
    text-align: center;
    padding:8px;
  }
  tr th{
      background: #ccc;
  } 
  td{
    border-bottom: 1px solid #ccc;
    padding:8px;
    text-align: center;
  } 
  tr.row:hover{
    cursor: pointer;
    background:#e7272b;
    color: white;
  }
  td.icons{
    display: flex;
    justify-content: space-around;
  }
  td.img{
    width: 50px;
    height: 50px;
  }
  td.img img{
    width: 50px;
    height: 50px;
    background-size: cover;
    border: 2px solid;
    border-radius: 50%;
  }
  .search-input{
    display: flex;
    justify-content: end;
    /* position: sticky;
    top: 165px;
    background: white; */
  }
   .search-input input{
        height: 45px;
        border: 1px solid #e3e3e3;
        border-radius: 14px;
        outline: none;
        font-size: 15px;
        line-height: 25px;
        padding: 10px 10px 10px 50px;
        background-repeat: no-repeat;
        background-position: 12px 10px;
        background-size: 24px 24px;
        background-image: url(../../assets/search.png);
        padding-top: 10px;
        text-align: end;
        margin: 0 24px;
        margin-top: 23px;
      
  }
  .category{
    display: flex;
    height: 0;
  } 
  caption{
    font-size: 22px;
    margin-top: 20px;
    font-weight: 700;
    border-bottom: 2px solid;
    margin: 12px 221px;
  }
  #add{
    background: white;
    color: black;
    cursor: pointer;
    direction: ltr;
    border-radius: 24px;
    box-shadow: 0px 0px 18px -6px rgb(0 0 0 / 56%);
    margin-bottom: 20px;
    /* z-index: -1; */
  }
  mat-checkbox{
    z-index: 0;
  }
  /****************/

.body{
  font-family: system-ui;
  font-size: 16px;
  direction: rtl;
}
.body header{
  justify-content: left;
}
.body div {
  color: #BABECC;
  text-shadow: 1px 1px 1px #FFF;
}
 .body form {
  padding: 16px;
  width: 320px;
  margin: 138px auto;
}

.body .segment {
  padding: 32px 0;
  text-align: center;
}
.body .segment h1{
  color: #AE1100;
}
.body button, input {
  border: 0;
  outline: 0;
  font-size: 16px;
  border-radius: 320px;
  padding: 16px;
  background-color: #EBECF0;
  text-shadow: 1px 1px 0 #FFF;
}

.body label {
  display: block;
  margin-bottom: 24px;
  width: 100%;
}

.body input {
  margin-right: 8px;
  box-shadow: inset 2px 2px 5px #BABECC, inset -5px -5px 10px #FFF;
  width: 100%;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  appearance: none;
  -webkit-appearance: none;
}
.body input:focus {
  box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFF;
}

.body button {
  color: #61677C;
  font-weight: bold;
  box-shadow: -5px -5px 20px #FFF, 5px 5px 20px #BABECC;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  font-weight: 600;
}
button:hover {
  box-shadow: -2px -2px 5px #FFF, 2px 2px 5px #BABECC;
}
.body button:active {
  box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFF;
}
.body button.red {
  display: block;
  width: 107px;
  color: #AE1100;
  margin: 0 95px;
}
@keyframes appear {
  0%{
    opacity: 0;
    transform: translateY(-10px);
  }
}

#dialog,#dialog2{
animation: appear 350ms ease-in 1;
max-width: 500px;
border: 2px  solid red;
box-shadow: 1px 1px 10px 2px rgb(0 0 0 / 38%);
display: none;
position: fixed;
z-index: 3;
top: 105px;
}
#dialog p,#dialog2 p{
padding: 1px 2px;
font-size: 17px;
font-weight: 700;
margin: 0;
}