.edit {
    text-align: center;
   
}
.edit span{    background-color: #fff;

 padding: 35px;
    font-size: 33px;
    font-weight: 700;
    color: gray;
}
.edit div{
direction: rtl;
}
.details{
}
label{
    display: block;
}
input{
    border-radius: 7px;
    box-sizing: initial;
    /* direction: rtl; */
    outline: none;
}