nav{
    background-color: #222;
    height: 48px;
    line-height: 48px;
}

nav ul li{
  float: right;
  color: #cacaca;
  list-style: none;
  padding: 0px 14px;
  font-size: 17px;
  font-weight: 600;
  font-family: system-ui;
}
nav ul li a{
     text-decoration: none;

}
