input{  
  
    width: 100%;
    height: 20px;
    text-align: end;
    font-size: 16px;
    height: 38px;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    /* resize: vertical; */
    background: white;
    border-radius: .25rem;
    margin-top: 9px;
    border-color: rgba(0,0,0,.1);
}

.page_box{
    min-height: 52px;
    background: #1e293b;
    margin: 0 -1rem;
    font-size: 20px;
    text-align: end;
    padding: 17px;
    font-family: system-ui;
}
.page_box button{
    float: left;
    background:none;
    border: none;
    color:white;
    cursor: pointer;
}
.container{
    color:white;
    padding: 0 1rem;
  }
  b{
      color: black;
  }
 .content{
    margin-top: 13px;
    text-align: end;  }