<div class="body">
<header>
    <div class="header">
    <div class="header-content">
    <label> מתכון</label>
    <h1 class="headline"> {{meal.MealName}}</h1>
    <div class="underline">
        <div class="date">תאריך</div>
        <div class="byline"> 
         <span>מאת</span> <a>שם המעלה</a>
        </div></div>
    <div class="ratings">
     <div class="stars">
        <mat-icon>star</mat-icon>
        <mat-icon>star</mat-icon>
        <mat-icon>star</mat-icon>
        <mat-icon>star</mat-icon>
        <mat-icon>star</mat-icon>
    </div>
    <div class="counter"> כמות דירוגים</div>
</div> 
 </div></div>
</header>
<div class="container">
    <p class="discription">
        סלט איטלקי מלא במליחות ים תיכונית. שמן הזית, הלימון והבלסמי יוצרים תחמיץ נפלא, שעובד גם עם ברוקולי
    </p>
    <div class="underline">
        <ul class="tags">  
            <li><p><span>זמן הכנה</span> 45 דקות </p></li>
            <li><p><span  [(ngModel)]="meal.NumberOfDiners"> מס' מנות</span>4 מנות</p></li>
            <li><p><span> סוג </span> חלבי  </p></li>
            <li><p><span>רמת קושי </span>  קל </p></li>
        </ul>
        <ul class="social-share">
            <li matTooltip="הוסף למועדפים"><mat-icon>favorite</mat-icon></li>
            <li matTooltip="הוסף למנות שלי"><mat-icon>add_circle</mat-icon></li>
            <li matTooltip="הורד מתכון"><mat-icon>download</mat-icon></li>
            <li matTooltip="הדפס מתכון"><mat-icon>print</mat-icon></li>
            <li matTooltip="שלח מתכון באימייל" ><mat-icon (click)="open()">email</mat-icon></li>        
        </ul>
        <div class="model" id="send">
            
        <div class="email" >
         <div class="to">
             <div class="befor_title">
                 שלחו במייל:
             </div>
             <div class="the_title">
                 cjeie cieib
             </div>
         </div>

         <div class="details">
             <div class="close"><mat-icon (click)="close()"  >close</mat-icon></div>
          <form>
        <div class="row"> <input type="text" placeholder="שמך"></div>
        <div class="row"><input type="email" placeholder="אימייל שלך"></div>
       <div class="row"> <input type="email" placeholder="אימייל הנמען"></div>
      <div class="row"><textarea name="" id="" cols="30" rows="10" placeholder="הודעה"></textarea></div>
       <div class="submit">
           <input type="submit" value="שליחה">
       </div>
    </form>
    </div>

        </div>
    </div>
    </div> 
    <div class="single_content">
      <div class="ingredients">
          <label>מצרכים:</label>
            <mat-list role="list">
                <mat-list-item role="listitem">- מוצר 1</mat-list-item>
                <mat-list-item role="listitem">- מוצר 1</mat-list-item>
                <mat-list-item role="listitem">- מוצר 1</mat-list-item>
                <mat-list-item role="listitem">- מוצר 1</mat-list-item>
                <mat-list-item role="listitem">- מוצר 1</mat-list-item>
                <mat-list-item role="listitem">- מוצר 1</mat-list-item>
                <mat-list-item role="listitem">- מוצר 1</mat-list-item>                           
            </mat-list>
      </div>
      <div class="ingredients">
         <label [(ngModel)]="meal.Instructions" >אופן ההכנה</label>
         <mat-list role="list" >
            <mat-list-item role="listitem">- מוצר 1</mat-list-item>
            <mat-list-item role="listitem">- מוצר 1</mat-list-item>
            <mat-list-item role="listitem">- מוצר 1</mat-list-item>
            <mat-list-item role="listitem">- מוצר 1</mat-list-item>
            <mat-list-item role="listitem">- מוצר 1</mat-list-item>
            <mat-list-item role="listitem">- מוצר 1</mat-list-item>                            
        </mat-list>    
      </div>
      
    </div>
    
    <div class="nots">
        <h2>טיפים והערות</h2>
     <p>* s</p>
    </div>
    
    <h2 class="text-divider">
      <span>דרגו את המתכון</span>
          </h2>
    <div class="level">
        <mat-icon>star</mat-icon>
        <mat-icon>star</mat-icon>
        <mat-icon>star</mat-icon>
        <mat-icon>star</mat-icon>
        <mat-icon>star</mat-icon>
    </div>
    <h2 class="text-divider">
        <span>תגובות למתכון</span>
            </h2>
</div>
</div>