<div class="body">
<header>
    <div class="header">
    <div class="header-content">
    <label> מתכון</label>
    <h1 class="headline "> {{meal.MealName}} </h1>
    <div class="underline ">
        <div class="date">{{Date(meal.DateUp)}}</div>
        <div class="byline"> 
         <span> מאת </span> <a>{{meal.UserName}}</a>
        </div></div>
    <div class="ratings">
     <div class="stars">
        <mat-icon>star</mat-icon>
        <mat-icon>star</mat-icon>
        <mat-icon>star</mat-icon>
        <mat-icon>star</mat-icon>
        <mat-icon>star</mat-icon>
    </div>
    <div class="counter"> כמות דירוגים</div>
</div> 
 </div></div>
 <div class="d">
    <div class="underline">
        <ul class="tags">  
            <li><p><span>זמן הכנה</span>  </p></li>
            <li><p><span> מס' מנות</span>{{meal.NumberOfDiners}}  </p></li>
            <li><p><span> סוג </span>   </p></li>
            <li><p><span>רמת קושי </span>   </p></li>
        </ul>
        <ul class="social-share">
            <li matTooltip="הוסף למנות"><mat-icon (click)="addMeal()">favorite</mat-icon></li>
            <li matTooltip="הורד מתכון"><mat-icon>download</mat-icon></li>
            <li matTooltip="הדפס מתכון"><mat-icon>print</mat-icon></li>
            <li matTooltip="שלח מתכון באימייל" ><mat-icon (click)="open()">email</mat-icon></li>        
        </ul>

        <div class="model" id="send">      
        <div class="email" >
         <div class="to">
             <div class="befor_title">
                 שלחו באימייל:
             </div>
             <div class="the_title">
                {{meal.MealName}}         
                </div>
         </div>
         <div class="details">
             <div class="close"><mat-icon (click)="close()"  >close</mat-icon></div>
          <form>
        <div class="row"> <input type="text" placeholder="שמך"></div>
        <div class="row"><input type="email" placeholder="אימייל שלך"></div>
       <div class="row"> <input type="email" placeholder="אימייל הנמען"></div>
      <div class="row"><textarea type="text" placeholder="הודעה"></textarea></div>
       <div class="submit">
           <input type="submit" value="שליחה">
       </div>
    </form>
    </div>

        </div>
    </div>
    </div> 
 </div>
</header>

<div class="container">
    <p class="discription">
        סלט איטלקי מלא במליחות ים תיכונית. שמן הזית, הלימון והבלסמי יוצרים תחמיץ נפלא, שעובד גם עם ברוקולי
    </p>
    
    <div class="single_content">
      <div class="Products e">
          <label>מצרכים</label>
          <ul>
              <li *ngFor="let x of meal.Products" role="listitem">
                <span> {{x.Amount}}</span> <span>{{x.AmountName}}</span><span> {{x.ProductName}}</span>
            </li>
          </ul>
            <!-- <mat-list role="list" >
                <mat-list-item >             
              </mat-list-item>           
            </mat-list> -->
      </div>
      <div class="ingredients">
         <label>אופן ההכנה</label>
         <ul>
            <li *ngFor="let x of meal.Products; let i=index" >
               <div>{{i+1}}</div> {{meal.Instructions}}       
            </li>
        </ul>         
      </div>
      
    </div>
    
    <!-- <div class="nots">
        <h2>טיפים והערות</h2>
     <p>* s</p>
    </div> -->
    
    
            <section class="comments">
                <h5> <span> תגובות 12 </span></h5>
                <ol>
                    <li>
                        <div> <mat-icon>person</mat-icon></div>
                        <div><header>
                            <span>אני</span> <div class="level">
                                <mat-icon>star</mat-icon>
                                <mat-icon>star</mat-icon>
                                <mat-icon>star</mat-icon>
                                <mat-icon>star</mat-icon>
                                <mat-icon>star</mat-icon>
                            </div>
                        </header>
                         <article>
                          <input class="new-comment " type="text" placeholder="כתיבת תגובה">
                         </article>
                        </div>
                    </li>
                    <li>
                        <div> <mat-icon>person</mat-icon></div>
                         <div>
                             <header>
                                <span>ss</span>
                                <span>10/10</span>
                            </header>
                             <article>ddddd</article>
                            </div>
                    </li>
                    <li>
                        <div> <mat-icon>person</mat-icon></div>
                         <div>
                             <header>
                                <span>ss</span>
                                <span>10/10</span>
                            </header>
                             <article>ddddd</article>
                            </div>
                    </li>
                </ol>
            </section>
        
</div>
</div>



