*{
    font-family:  system-ui;
    
}
mat-icon{
    font-family: 'Material Icons';
    cursor: pointer;
    color: white;
    border-radius: 50%;
    height: 34px;
    width: 34px;
    padding: 5px;
    background: rgb(0 0 0);
}
body {
    background: black;
    color: black;
    font-family: 'Lato', Arial, sans-serif;
    padding: 7px;
    margin: 0px;
    height: auto;
  }
.header{   
     height: 600px;
    display: grid;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 12px 2px #0000006b;
    background-size: cover;
    background-position: center;
}
.header-content{
   max-width: 980px;
   text-align: center;
   animation: text 3s 1;
   padding: 46px;
   background: #fafafaa1;
   box-shadow: 0px 0px 49px -8px rgb(0 0 0);
   font-weight: 700;
   font-size: 17px;
   animation: showup 7s ease-in;
}
 @keyframes showup {
     0% {opacity:0;}
     20% {opacity:1;}
    100% {opacity:1;}
 }
.header-content label{
    text-align: center;
    color: #fff;
    display: inline-block;
    height: 32px;
    line-height: 32px;
    background-color: #000;
    border: 1px #fff solid;
    min-width: auto;
    letter-spacing: 1px;
    padding: 0 15px;
    margin-bottom: 20px;
    font-family: 'Abraham';
    font-size: 16px;
    font-weight: 500;
}
.headline{
    min-height: 74px;
    line-height: 74px;
    font-size: 84px;
    font-family: 'Barlev';
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 0;
    text-shadow: 3px 2px 1px white;
    direction: rtl;
}
.underline{
    margin-top: 10px;
    font-weight: 300;
    font-family: 'Abraham';
    height: 20px;
    line-height: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 700; 
}
.underline .byline .img{
width: 45px;
height: 45px;
border-radius: 50%;
display: inline-block;
margin-left: 10px;
border: 2px solid;
}
.underline .byline{
   display: flex;
   align-items: center;
   margin-top: 9px;
}
.date{
    display: inline-block;
    padding: 0 12px;
}
.container .underline{
    display: flex;
    justify-content: center;
    padding-bottom: 13px;
    border-top: 1px solid #000;
    padding-top: 28px;
    direction: rtl;
}
ul.tags{
    list-style-type: none;
    height: 30px;
}
ul.tags li{
    height: inherit;
    float: right;
    padding: 0 18px;
    border-left: 1px #eee solid;
    font-size: 21px;
    font-family: 'Barlev';
    line-height: 30px;
}
ul.tags li span {
    display: block;
font-weight: 700;
}
ul.social-share{
    height: 56px;
    list-style: none;
    display: flex;
    align-items: center;
}
ul.social-share li{
    margin-left: 20px;
}
.single_content{
    direction: rtl;
    display: flex;
    margin-bottom: 74px;
}
.ingredients , .Products{
    text-align: right;
    width: 50%;
    margin: 5px;
    border: 1px solid rgb(0 0 0 / 26%);
    padding: 27px;
    box-shadow: 1px 1px 16px -3px #80808073;
}
 .Products span{
    padding: 10px;
}
.ingredients p{
    padding: 15px 0px;
}
.ingredients p span{
    font-weight: 900;
    font-family: cursive;
    font-size: 20px;
    padding: 0px 0px 0px 6px;
}
.ingredients label, .Products label{
    font-size: 27px;
    font-weight: 600;
}
.Products ul li {
    font-size: 17px;
    margin: 14px 0px;
    list-style: disc;
}
.ingredients ul li {
    font-size: 17px;
    margin: 14px 0px;
    list-style: none;
}
.model{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    display: none;
    background: rgba(0,0,0,0.8);  
}
.email{
    width: 750px;
    height: 500px;
    position: fixed;
    top: calc(50% - 250px);
    left: calc(50% - 375px);
    box-shadow: 4px 4px 16px rgb(0 0 0 / 38%);
    background: #fff;
    display: flex;
}
.email .to {
    color: #000;
    font-family: 'Barlev';
    float: left;
    width: 50%;
    padding: 50px 40px;
    font-size: 50px;
    line-height: 50px;
    word-break: break-word;
    float: right;
    background-size: cover;
    background-position: center;
    margin: 4px;
}
.email .to .befor_title{
    font-size: 27px;
    line-height: 16px;
    font-weight: 500;
    color: white;
    text-shadow: 2px 2px 2px black;
}
.email .to .the_title{
    display: block;
    margin-top: 30px;
    height: 349px;
    text-align: center;
    font-weight: 600;
    color: white;
    text-shadow: 2px 2px 2px black;
}
.email .details{
 width: 50%;
 float: right;
 
}
.close{
    float: left;
    padding: 12px;
    color: black;
}
.email .details form{
    width: 100%;
    padding: 75px 41px ;
}
.email .details form .row{
    margin-bottom: 25px;
}
.email .details form textarea{
    resize: none;
    width: 293px;
    height: 107px;
    border: 1px solid;
    outline: none;
}
.email .details .row input {
        width: 100%;
        font-size: 18px;
        border: none;
        border-bottom: 1px solid;
        padding: 0 0 5px 0;
        outline: none;
     
}
form{
    float: left;
    width: calc(100% - 80px);
    padding: 50px 40px 0 40px; 
}
input[type="submit"]{
    width: 100%;
    height: 34px;
    line-height: 35px;
    border-radius: 20px;
    padding: 0 15px;
    border: 0;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    background: #1e1e1e;
    cursor: pointer;
}
input[type="submit"]:hover{
    background: rgb(0 0 0 / 66%);
}
.options{
    display: flex;
    justify-content: space-between;
    direction: rtl;
    border-bottom: 1px solid;
    margin-bottom: 20px;
}
.amount{
    display: flex;
    justify-content: right;
    direction: rtl;
    align-items: center;
}
.amount label{
    font-size: 20px;
    font-family: Ploni;
    padding-left: 12px;
    line-height: calc(2.25rem + 2px);
    vertical-align: middle;
    margin: auto 0;
}
.amount .counter{
    padding-left: 0;
    align-self: self-end;
    flex-direction: row;
    margin: 3% 0;
    border: 2px solid black;
    border-radius: 44px;
    display: flex;
}
.amount img{
    width: 28px;
    height: 28px;
    margin-top: 2px;
    cursor: pointer;
}
.amount input{
    width: 2.8em;
    height: 32px;
    border-radius: 2px;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 3%);
    background-color: #fff;
    font-size: 17px;
    font-weight: 700;
    text-align: center;
    color: #e6392b;
    border: none;
    padding: 0;
    outline: none; 
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.amount .help img{
    width: 28px;
    height: 28px;
    cursor: pointer;
    margin-right: 13px;
}
.amount .h{
    background-color: white;
    position: absolute;
    margin-top: -74px;
   right: 183px; 
   border-radius: 4px;
    border: 1px solid red;
    padding: 3px 10px;
    z-index: 3;
    display: none;
}
.help:hover .h{
display: block;}
.amount .h:before{
    content: "";
    display: block;
    height: .9375rem;
    left: 50%;
    position: absolute;
    top: 22px;
    transform: rotate( 
45deg);
    width: .9375rem;
    background-color: white;
    border-bottom: 1px solid red;
    border-right: 1px solid red;
    z-index: -1;
}

 
 .container {
   overflow: hidden;
   width: 100%;
   margin: 0px;
 }
 section {
       position: relative;
       text-align: center;
       background-size: cover;
       background-position: center;
       background-attachment: fixed;
 }
 section h2 {
   margin: 0;
   padding: 0;
   font-size: 2.8em;
   font-weight: 400;
 }
 .color {
   background: white;
   border-top: 10px solid black;
   padding: 80px;
 }
 section::before,
 section::after {
   position: absolute;
   content: '';
   pointer-events: none;
 }
 .ss-style-triangles::before,
 .ss-style-triangles::after {
   left: 50%;
   width: 58px;
   height: 58px;
   -webkit-transform: translateX(-50%) rotate(45deg);
   transform: translateX(-50%) rotate(45deg);
 }
 .ss-style-triangles::after {
   bottom: -42px;
   z-index: 1;
   background: white;
   border-left: 2px solid white;
   border-top: 2px solid white;
 }
  .social-icons li:hover:before {
    transform: scale(0);
    transition: all 265ms ease-in;
  }
  .social-icons li:hover mat-icon {
    transform: scale(2.2);
    -webkit-transform: scale(1.2);
    color: rgb(249 171 0 / 67%);
background: red;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 265ms ease-in;
  }
@keyframes spin {
    from {
      transform: rotate(0);
    }
    to{
      transform: rotate(359deg);
    }
  }
 #spinner{
     display: none;
 }
  .spinner-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    position: absolute;
    top: 62%;
    left: 23%;
  }
  .three-quarter-spinner {
    width: 30px;
    height:30px;
    border: 3px solid black;
    border-top: 3px solid transparent;
    border-radius: 50%;
    animation: spin .5s linear 0s infinite;
  }

  @keyframes appear {
    0%{
      opacity: 0;
      transform: translateY(-10px);
    }
  }
#dialog,#dialog2{
  animation: appear 350ms ease-in 1;
  max-width: 500px;
  border: 2px  solid red;
  box-shadow: 1px 1px 10px 2px rgb(0 0 0 / 38%);
  display: none;
  position: fixed;
  z-index: 3;
  top: 105px;
}
#dialog p,#dialog2 p{
  padding: 1px 2px;
  font-size: 17px;
  font-weight: 700;
  margin: 0;
}
@media  screen and (max-width: 1080px) {
    ul.tags li {
      font-size: 15px;
    }
    .single_content{
        display: block;
    }
    .ingredients , .Products {
      width: 98%;
    }
    .options{
        display: grid;
    }
    ul.social-share{
        width: 500px;
      display: flex;
       justify-content: center;
    }
    
  }
 @media  screen and (max-width: 700px) {
     .headline{
         font-size: 62px;  
          }
     .underline .byline .img{
              width: 35px;
              height: 35px;
        }
    .amount{
        justify-content: center;
    }
    .ingredients , .Products ul li {
     font-size: 13px;  
    }
    
    
  
  }
  app-print-meal {
    display: none;
  }
  @media print {
   
    app-print-meal {
      display: block;
    }
  
     #b {
      display: none;
    }
    /* .help{
        opacity: 0;
    } */
    
  }
  
  form.f{  
      padding: 0;
      display: inline-block;
  }