  <body  id="b" #b>
        <div class="container">
        <section class="col-2 ss-style-triangles" style="background-image: url({{url}});">
            <div class="column text">
                <header>
                    <div class="header">
                    <div class="header-content">
                    <label> מתכון</label>
                    <h1 class="headline "> {{meal.mealName}} </h1>
                    <div class="underline ">
                        <div class="byline"> 
                        <div style="background-image:url({{userImg}});background-size: cover;" class="img"></div> <a>{{meal.userName}}</a>
                        </div>
                        <div class="date">{{Date()}}</div>  
                    </div>  
                <div class="counter"> {{meal.numberOfViews}} <span>כמות צפיות</span></div>
                 </div>
                </div>              
                </header>
            </div>
        </section>   
        <section class="color">
            <div class="container" >
                    <div class="options">
                        <ul class="tags">  
                            <li><p><span>קטגוריה</span>{{category}}  </p></li>
                            <li><p><span>זמן הכנה</span>{{Time()}}  </p></li>
                         
                            <li><p><span>רמת קושי </span>{{level}}   </p></li>
                        </ul>
                        <ul class="social-share social-icons">
                            <li *ngIf="u==null" matTooltip="הוסף למנות" ><mat-icon  (click)="addMeal()" style="color: white;" >favorite</mat-icon></li>
                            <li *ngIf="u!=null && u.userName!=meal.userName &&!add" matTooltip="הוסף למנות" ><mat-icon  (click)="addMeal()" style="color: white;" >favorite</mat-icon></li>
                            <li *ngIf="u!=null && u.userName!=meal.userName && add" matTooltip="הסר מהמנות" ><mat-icon  (click)="deletMeal()" style="color: red;">favorite</mat-icon></li>
                            <li matTooltip="הורד מתכון"><mat-icon (click)="download()"> download</mat-icon></li>
                            <li matTooltip="הדפס מתכון"><mat-icon (click)="print()" >print</mat-icon></li>
                            <li matTooltip="שלח מתכון באימייל" ><mat-icon (click)="open()">email</mat-icon></li>        
                        </ul>                                 
                        <div class="model" id="send">                                
                        <div class="email" >             
                         <div class="to" style="background-image: url({{url}})">
                             <div class="befor_title">
                                 שלחו באימייל:
                             </div>
                             <div class="the_title">
                                {{meal.mealName}}         
                                </div>
                         </div>
                         <div class="details">
                             <div class="close"><mat-icon (click)="close()"  >close</mat-icon></div>
                          <form>
                        <div class="row"> <input type="text" name="" [(ngModel)]="from" [ngModelOptions]="{standalone: true}" placeholder="שמך" required></div>
                       <div class="row"> <input type="email" name="" [(ngModel)]="to" [ngModelOptions]="{standalone: true}" placeholder="אימייל הנמען" required></div> 
                       <div class="submit">                  
                           <input type="submit" (click)="convetToPDF()" value="שליחה">
                           <div class="spinner-box" id="spinner">
                            <div class="three-quarter-spinner" ></div>
                          </div>
                       </div> 
                    </form>
                    </div>
                
                        </div>
                    </div>
                 </div> 
                <p class="discription">
                 {{meal.discription}}         </p>
                <div class="amount">
                          <label>בחרו כמות סועדים</label>
                          <div class="counter"><img src="../../assets/plus.png" alt="" (click)="plus()"><input  type="number" min=1 value={{count}}  [(ngModel)]="count" > <img src="../../assets/minus.png" alt=""  (click)="minus()"> </div> 
                        <div class="help">  
                          <span><img src="../../assets/help.png" alt=""></span>
                          <div class="h">בלחיצה על הפלוס והמינוס תוכלו לבחור את כמות המנות שתרצו להכין
                        </div>
                      </div>       
                        </div>
        
                <div class="single_content">
                  <div class="Products e">
                      <label>מצרכים</label>            
                      <ul>
                          <li *ngFor="let x of meal.products;let i=index" role="listitem" >
                            <span> {{x.amountInMeal}}</span> <span>{{UnitMeasures[i]}}</span> <span>של</span><span> {{x.productName}}</span>
                        </li>
                      </ul>          
                  </div>
                  <div class="ingredients">
                     <label>אופן ההכנה</label>
                     <p *ngFor="let x of Instructions;let i=index">
                        <span>{{i+1}}.</span> {{x}}
                     </p>
                    
                  </div>
                  
                
            
        
            </div> 
            </div>

        </section>
        </div>
        </body>
  
<dialog id="dialog" >
    <p > !!המנה הוסרה מרשימת המנות שלך </p>  
  </dialog>
  <dialog id="dialog2"> 
    <p> !!המנה התווספה לרשימת המנות שלך </p>
  </dialog>

<app-print-meal #printMeal id="d" [m]="MealChange()" [u]="UnitMeasures"></app-print-meal>
    
    
    