@import "../all-lists/all-lists.component.css";
@import "../show-meal-details/show-meal-details.component.css";

.header{
  height: 395px;
}
.header-content{
    background: #fafafa;
    box-shadow: 0px 0px 49px -8px rgb(249 171 0); 
     width: 980px; 
      margin: 20px;
}
.headline{
    color: black;
    text-shadow: 4px -2px 1px rgb(249 171 0);
}
.underline {
    color: black;
    text-shadow: none;
}

ul.social-share{
    height: 0;
}
.email .to{
    background: gold;
}