<div class="body">
<header>
  <div class="header">
  <div class="header-content">
  <label> תפריט</label>
  <h1 class="headline "> שם תפריט</h1>
  <div class="underline ">
      <div class="date">תאריך</div>
      <div class="byline"> 
       <span>מאת</span> <a>שם המעלה</a>
      </div></div>
  <div class="ratings">
   <div class="stars">
      <mat-icon>star</mat-icon>
      <mat-icon>star</mat-icon>
      <mat-icon>star</mat-icon>
      <mat-icon>star</mat-icon>
      <mat-icon>star</mat-icon>
  </div>
  <div class="counter"> כמות דירוגים</div>
</div> 
</div></div>
</header>

<div class="list-items">
  <div class="list">
  <ul > 
    <li *ngFor="let item of listMeals">
      <div class="container" >               
<app-meal></app-meal>     
</div>
</li>
  </ul>
  </div>
</div>
</div>