<div class="body">
<header>
  <div class="header">
  <div class="header-content">
  <label> תפריט</label>
  <h1 class="headline "> שם תפריט</h1>
  <div class="underline ">
      <div class="date">תאריך</div>
      <div class="byline"> 
       <span>מאת</span> <a>שם המעלה</a>
      </div></div>
  <div class="ratings">
   <div class="stars">
      <mat-icon>star</mat-icon>
      <mat-icon>star</mat-icon>
      <mat-icon>star</mat-icon>
      <mat-icon>star</mat-icon>
      <mat-icon>star</mat-icon>
  </div>
  <div class="counter"> כמות דירוגים</div>
</div> 
</div></div>
</header>

<div class="list-items">
  <div class="list">
  <ul > 
    <li *ngFor="let item of listMeals">
      <div class="container" >               
<div class="card" >
  <div class="content">
    <div class="title">
      <span>מתכון</span>
       </div>
  <img src="../../assets/3.jpg" alt="Avatar" style="width:100%"routerLink="/MyHome/ShowMealDetails">
  <div class="container">
    <h5> <mat-icon>schedule</mat-icon>50 דק'</h5>
    <h4><b> עוגת חלבה</b></h4> 
      <div class="d">
      <div class="icons">
        <mat-icon id="down">download</mat-icon>
        <mat-icon id="save">favorite</mat-icon>
      </div>
    </div>
    
  </div>
   </div>
</div>      
</div>
</li>
  </ul>
  </div>
</div>
</div>