<div class="container">
  <mat-toolbar>
    <h2 *ngIf="data==null"> הוסף מנה</h2>
    <h2 *ngIf="data!=null"> עדכן מנה</h2>
    <div>
      <button *ngIf="data==null" mat-raised-button (click)="saveMeal()" mat-dialog-close> שמור </button>
      <button *ngIf="data!=null" mat-raised-button (click)="updateMeal()" mat-dialog-close> עדכן </button>
      <mat-icon mat-dialog-close class="close">close</mat-icon>
    </div>
  </mat-toolbar>

  <div class="details">
    <div class="form s">
      <label>שם המנה</label>
      <input type="text" name="MealName" [(ngModel)]="newMeal.MealName"/>
      <label>קטגוריה</label>
      <select name=" ">
        <option value="">...</option>
        <option value="">כ</option>
        <option value="">כ</option>
        <option value="">כ</option>
        <option value="">כ</option>
        <option value="">הוסף קטגוריה</option>
      </select>
      <!-- <input type="text"  [(ngModel)]="newMeal.MealCategoryCode" >  -->
      <label> זמן הכנה</label>
      <input type="text">
      <label>דרגת קושי</label>
      <select name=" ">
        <option value="">...</option>
        <option value="">קל</option>
        <option value="">בינוני</option>
        <option value="">קשה</option>

      </select>
      <label>כמות סועדים</label>
      <input type="text" name="NumberOfDiners" [(ngModel)]="newMeal.NumberOfDiners">
    </div>
    <div class="form s">
      <label>תאור המנה</label>
      <textarea id="discription" name="Discription" [(ngModel)]="newMeal.Discription"></textarea>
      <label> אופן ההכנה </label>
      <textarea id="how" name="Instructions" [(ngModel)]="newMeal.Instructions"></textarea>
    </div>
    <div class="form products">
      <div class="title"> מוצרים </div>
      <div class="list">
        <table>
          <tr>
            <th>שם מוצר</th>
            <th>כמות</th>
            <th>שם יחידה</th>
          </tr>
          <tr *ngFor="let x of ELEMENT_DATA">
            <td>{{x.ProductName}}</td>
            <td>{{x.Amount}} </td>
            <td>{{x.AmountName}}</td>
          </tr>
        </table>
        <div class="input">
          <input type="text" placeholder="שם מוצר" name="ProductName" [(ngModel)]="newProduct.ProductName">
          <input type="number" placeholder="כמות" name="Amount" [(ngModel)]="newProduct.Amount">
          <select name="AmountName" [(ngModel)]="newProduct.AmountName">
            <option value="">...</option>
            <option value="">קילו גרם</option>
            <option value="">ליטר</option>
            <option value="">יחידה</option>
          </select>
          <button (click)="addProduct()">
            <mat-icon>add_circle_outline</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>