<div class="container">
  <mat-toolbar>
    <h2 *ngIf="data==null"> הוסף מנה</h2>
    <h2 *ngIf="data!=null"> עדכן מנה</h2>
    <div>
      <button *ngIf="data==null" mat-raised-button (click)="saveMeal()" mat-dialog-close> שמור </button>
      <button *ngIf="data!=null" mat-raised-button (click)="updateMeal()" mat-dialog-close> עדכן </button>
      <mat-icon mat-dialog-close class="close">close</mat-icon>
    </div>
  </mat-toolbar>

  <div class="details">

    <div class="form s">

      <label>שם המנה</label>
      <input type="text" name="MealName" [(ngModel)]="newMeal.mealName" />

      <label>קטגוריה</label>
      <select name=" " [(ngModel)]="selectCa">
        <option *ngFor="let x of categories; let i=index" value={{x.mealCategoriesName}} >{{x.mealCategoriesName}}</option>
        <option value="">הוסף קטגוריה</option>
      </select>
      <!-- <input type="text"  [(ngModel)]="newMeal.MealCategoryCode" >  -->
      <label> זמן הכנה</label>
      <input type="time">
      <label>דרגת קושי</label>
      <select name=" ">
        <option value="">קל</option>
        <option value="">בינוני</option>
        <option value="">קשה</option>

      </select>
      <label>כמות סועדים</label>
      <input type="number" name="NumberOfDiners" [(ngModel)]="newMeal.numberOfDiners">
    </div>
    <div class="form s">
      <label>תאור המנה</label>
      <textarea id="discription" name="Discription" [(ngModel)]="newMeal.discription"></textarea>
      <label> אופן ההכנה </label>
      <textarea id="how" name="Instructions" [(ngModel)]="newMeal.instructions"></textarea>
    </div>
    <div class="form products">
      <div class="title"> מוצרים </div>
      <div class="list">
        <table>
          <tr>
            <th></th>
            <th>שם מוצר</th>
            <th>כמות</th>
            <th>שם יחידה</th>
          </tr>
          <tr *ngFor="let x of ELEMENT_DATA">
            <td></td>
            <td>{{x.productName}}</td>
            <td>{{x.amount}} </td>
            <td>{{x.amountName}}</td>
          </tr>
        </table>
        <div class="input">
          <input type="text" placeholder="שם מוצר" [(ngModel)]="newProduct. productName">
          <input type="number" placeholder="כמות" [(ngModel)]="newProduct.amount">
          <select name="AmountName" [(ngModel)]="selectAm">
            <option value="גרם">גרם </option>
            <option value="ליטר ">ליטר</option>
            <option value="יחידה">יחידה</option>
          </select>
          <button (click)="addProduct()">
            <mat-icon>add_circle_outline</mat-icon>
          </button>

        </div>

      </div>
    </div>
  </div>
</div>