
<div class="body">
<div class="content1">
  <div class="search">
 <h1>חפש מנה / תפריט</h1>
  
  <div class="search-input" routerLink="/Home/AllLists"><input (keyup)="applyFilter($event)" #input type="text" placeholder="חפש"/></div>   
</div>
</div>
<div id="wave"></div>
<div class="d">

</div>
<div class="content2">
  <div class="search">
 <h1>חפש מנה / תפריט</h1>
  
  <div class="search-input" routerLink="/Home/AllLists"><input (keyup)="applyFilter($event)" #input type="text" placeholder="חפש"/></div>   
</div>
</div>
</div>
