nav{
    background-color: #222;
    height: 48px;
    line-height: 48px;
}
nav ul li{
    float: right;
    color: #cacaca;
    list-style: none;
    padding: 0px 14px;
    font-size: 17px;
    font-weight: 600;
    font-family: system-ui;
}
a{
    text-decoration: none;
}
/* .container{

} */
.title{
    color: black; 
    font-size: 25px;
    font-weight: 900;
    padding: 20px;
   
}
   

   .title span{
     color:#4CCEE8;
     margin-right: 30px;
   }
.banner{
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image:url( https://image.freepik.com/free-vector/flat-design-blue-comic-style-background_23-2148797743.jpg)
    /* background-color: gray; */
    /* background-position: center; */
    /* background-size: cover; */
}

.content{
    width: 100%;
    height: 380px;
    /* position: absolute; */
    /* top: 50%; */
    transform: transform(-50%);
    text-align: center;
    color: #fff;

}
.content h1{
    font-size: 70px;
    text-shadow: #fafafa 4px 2px 7px;
    font-weight: 600;
    color: #fafafa;
    margin-top: 210px;

}
.content p{
    margin:20px auto;
    font-weight: 100;
    line-height: 25px;
}

/* .info{
} */
