
.body{
 height: 100%;
 width: 100%;  
}

header{
    background: url("https://www.chitrakootweb.com/template/cefrax/img/bg9.jpg");

   
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: 0px 0px;
    overflow: hidden;
height: 100%;
    background-attachment: fixed;
}
/* header::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    background: #000;
    opacity: 0.2;
    height: 100%;

} */

.search{
    position: absolute;
    z-index: 2;
    top: 30%;
    right: 50%;
    transform: translate(50%, 50%);
    text-align: center;
    animation-name: text 0.3s;
}
.search h1{
    font-size: 60px;
    font-weight: 700;
    animation-delay: 0.8s;
    font-family: system-ui;
    color: white;
}

.search-input{
    padding: 20px;
    display: contents;

    }
  
     .search-input input{
        max-width: 100%;
        width: 498px;
        height: 45px;
        border: 1px solid #e3e3e3;
        border-radius: 14px;
        font-size: 25px;
        background: white;
        margin: 24px;
        padding: 10px 10px 10px 50px;
        direction: rtl;
        background-repeat: no-repeat;
        background-position: 12px 10px;
        background-size: 24px 24px;
        background-image: url(../../assets/search.png);
        outline: none;
    
    }
    .search-input input:focus{
        border: 3px solid gold;
    }
   
    mat-icon{
        color: gold;
        font-size: 34px;
        padding: 7px;
        cursor: pointer;
        width: 50px;
        height: 50px;
        }

      
        /* .wave{
            height: 50px;
            position: relative;
            background: linear-gradient(90deg, #27b6b9 0%, #0f4061 100%);
          }
          
          #wave {
     
            padding-top:25px;
            padding-bottom:25px;
            background: #f1f5f9;
            
          }
        
          
          #wave::before{
            position: absolute;
            left: 0;
            bottom: 150px;
            right: 0;
            background-repeat: repeat;
            height: 10px;
            background-size: 20px 20px;
            background-image: radial-gradient(circle at 10px -5px, transparent 12px, #f1f5f9 13px);
            z-index: 1;
          }
          #wave::after{
            position: absolute;
            left: 0;
            bottom:150px;
            right: 0;
            background-repeat: repeat;
            height: 15px;
            background-size: 40px 20px;
            background-image:
              radial-gradient(circle at 10px 15px, #f1f5f9 12px, transparent 13px);
              z-index: 1;

          }
          section{
            background: #f1f5f9;
            height: 50%;             
          } */
